<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="utilities">Utilities</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="brand-icons">Brand Icons</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="brand-icons">Brand Icons</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block text-align-center">
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="500px">
					<span class="fas fa-circle fa-stack-2x brand-color-500px"></span>
					<span class="fab fa-500px fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Algolia">
					<span class="fas fa-circle fa-stack-2x brand-color-algolia"></span>
					<span class="fab fa-algolia fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Amazon">
					<span class="fas fa-circle fa-stack-2x brand-color-amazon"></span>
					<span class="fab fa-amazon fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Android">
					<span class="fas fa-circle fa-stack-2x brand-color-android"></span>
					<span class="fab fa-android fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Angular">
					<span class="fas fa-circle fa-stack-2x brand-color-angular"></span>
					<span class="fab fa-angular fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Behance">
					<span class="fas fa-circle fa-stack-2x brand-color-behance"></span>
					<span class="fab fa-behance fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Creative Commons">
					<span class="fas fa-circle fa-stack-2x brand-color-creative-commons"></span>
					<span class="fab fa-creative-commons fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Delicious">
					<span class="fas fa-circle fa-stack-2x brand-color-delicious"></span>
					<span class="fab fa-delicious fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="DeviantArt">
					<span class="fas fa-circle fa-stack-2x brand-color-deviantart"></span>
					<span class="fab fa-deviantart fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Digg">
					<span class="fas fa-circle fa-stack-2x brand-color-digg"></span>
					<span class="fab fa-digg fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Discord">
					<span class="fas fa-circle fa-stack-2x brand-color-discord"></span>
					<span class="fab fa-discord fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Dribbble">
					<span class="fas fa-circle fa-stack-2x brand-color-dribbble"></span>
					<span class="fab fa-dribbble fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Dropbox">
					<span class="fas fa-circle fa-stack-2x brand-color-dropbox"></span>
					<span class="fab fa-dropbox fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Drupal">
					<span class="fas fa-circle fa-stack-2x brand-color-drupal"></span>
					<span class="fab fa-drupal fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="eBay">
					<span class="fas fa-circle fa-stack-2x brand-color-ebay"></span>
					<span class="fab fa-ebay fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Ello">
					<span class="fas fa-circle fa-stack-2x brand-color-ello"></span>
					<span class="fab fa-ello fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Ember.js">
					<span class="fas fa-circle fa-stack-2x brand-color-ember"></span>
					<span class="fab fa-ember fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Etsy">
					<span class="fas fa-circle fa-stack-2x brand-color-etsy"></span>
					<span class="fab fa-etsy fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Facebook">
					<span class="fas fa-circle fa-stack-2x brand-color-facebook"></span>
					<span class="fab fa-facebook-f fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Facebook Messenger">
					<span class="fas fa-circle fa-stack-2x brand-color-facebook-messenger"></span>
					<span class="fab fa-facebook-messenger fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Firefox">
					<span class="fas fa-circle fa-stack-2x brand-color-firefox"></span>
					<span class="fab fa-firefox fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Flickr">
					<span class="fas fa-circle fa-stack-2x brand-color-flickr"></span>
					<span class="fab fa-flickr fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Flipboard">
					<span class="fas fa-circle fa-stack-2x brand-color-flipboard"></span>
					<span class="fab fa-flipboard fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Font Awesome">
					<span class="fas fa-circle fa-stack-2x brand-color-font-awesome"></span>
					<span class="fab fa-font-awesome fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Foursquare">
					<span class="fas fa-circle fa-stack-2x brand-color-foursquare"></span>
					<span class="fab fa-foursquare fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="GitHub">
					<span class="fas fa-circle fa-stack-2x brand-color-github"></span>
					<span class="fab fa-github fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="GitLab">
					<span class="fas fa-circle fa-stack-2x brand-color-gitlab"></span>
					<span class="fab fa-gitlab fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Gitter">
					<span class="fas fa-circle fa-stack-2x brand-color-gitter"></span>
					<span class="fab fa-gitter fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Goodreads">
					<span class="fas fa-circle fa-stack-2x brand-color-goodreads"></span>
					<span class="fab fa-goodreads-g fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Google">
					<span class="fas fa-circle fa-stack-2x brand-color-google"></span>
					<span class="fab fa-google fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Google+">
					<span class="fas fa-circle fa-stack-2x brand-color-google-plus"></span>
					<span class="fab fa-google-plus-g fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Grunt">
					<span class="fas fa-circle fa-stack-2x brand-color-grunt"></span>
					<span class="fab fa-grunt fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Hacker News">
					<span class="fas fa-circle fa-stack-2x brand-color-hacker-news"></span>
					<span class="fab fa-hacker-news fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Houzz">
					<span class="fas fa-circle fa-stack-2x brand-color-houzz"></span>
					<span class="fab fa-houzz fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="HTML5">
					<span class="fas fa-circle fa-stack-2x brand-color-html5"></span>
					<span class="fab fa-html5 fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="IMDb">
					<span class="fas fa-circle fa-stack-2x brand-color-imdb"></span>
					<span class="fab fa-imdb fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Instagram">
					<span class="fas fa-circle fa-stack-2x brand-color-instagram"></span>
					<span class="fab fa-instagram fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="JavaScript">
					<span class="fas fa-circle fa-stack-2x brand-color-javascript"></span>
					<span class="fab fa-js fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Joomla">
					<span class="fas fa-circle fa-stack-2x brand-color-joomla"></span>
					<span class="fab fa-joomla fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Kickstarter">
					<span class="fas fa-circle fa-stack-2x brand-color-kickstarter"></span>
					<span class="fab fa-kickstarter-k fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Laravel">
					<span class="fas fa-circle fa-stack-2x brand-color-laravel"></span>
					<span class="fab fa-laravel fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Last.fm">
					<span class="fas fa-circle fa-stack-2x brand-color-lastfm"></span>
					<span class="fab fa-lastfm fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="LINE">
					<span class="fas fa-circle fa-stack-2x brand-color-line"></span>
					<span class="fab fa-line fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="LinkedIn">
					<span class="fas fa-circle fa-stack-2x brand-color-linkedin"></span>
					<span class="fab fa-linkedin-in fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Linux">
					<span class="fas fa-circle fa-stack-2x brand-color-linux"></span>
					<span class="fab fa-linux fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Lyft">
					<span class="fas fa-circle fa-stack-2x brand-color-lyft"></span>
					<span class="fab fa-lyft fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Magento">
					<span class="fas fa-circle fa-stack-2x brand-color-magento"></span>
					<span class="fab fa-magento fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="MailChimp">
					<span class="fas fa-circle fa-stack-2x brand-color-mailchimp"></span>
					<span class="fab fa-mailchimp fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Medium">
					<span class="fas fa-circle fa-stack-2x brand-color-medium"></span>
					<span class="fab fa-medium-m fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Meetup">
					<span class="fas fa-circle fa-stack-2x brand-color-meetup"></span>
					<span class="fab fa-meetup fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Microsoft">
					<span class="fas fa-circle fa-stack-2x brand-color-microsoft"></span>
					<span class="fab fa-microsoft fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Mixcloud">
					<span class="fas fa-circle fa-stack-2x brand-color-mixcloud"></span>
					<span class="fab fa-mixcloud fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Node.js">
					<span class="fas fa-circle fa-stack-2x brand-color-nodejs"></span>
					<span class="fab fa-node-js fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="NPM">
					<span class="fas fa-circle fa-stack-2x brand-color-npm"></span>
					<span class="fab fa-npm fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Odnoklassniki">
					<span class="fas fa-circle fa-stack-2x brand-color-odnoklassniki"></span>
					<span class="fab fa-odnoklassniki fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Opera">
					<span class="fas fa-circle fa-stack-2x brand-color-opera"></span>
					<span class="fab fa-opera fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Patreon">
					<span class="fas fa-circle fa-stack-2x brand-color-patreon"></span>
					<span class="fab fa-patreon fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="PayPal">
					<span class="fas fa-circle fa-stack-2x brand-color-paypal"></span>
					<span class="fab fa-paypal fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Periscope">
					<span class="fas fa-circle fa-stack-2x brand-color-periscope"></span>
					<span class="fab fa-periscope fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="PHP">
					<span class="fas fa-circle fa-stack-2x brand-color-php"></span>
					<span class="fab fa-php fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Pinterest">
					<span class="fas fa-circle fa-stack-2x brand-color-pinterest"></span>
					<span class="fab fa-pinterest-p fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="PlayStation">
					<span class="fas fa-circle fa-stack-2x brand-color-playstation"></span>
					<span class="fab fa-playstation fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Pocket">
					<span class="fas fa-circle fa-stack-2x brand-color-pocket"></span>
					<span class="fab fa-get-pocket fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Product Hunt">
					<span class="fas fa-circle fa-stack-2x brand-color-product-hunt"></span>
					<span class="fab fa-product-hunt fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Python">
					<span class="fas fa-circle fa-stack-2x brand-color-python"></span>
					<span class="fab fa-python fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Quora">
					<span class="fas fa-circle fa-stack-2x brand-color-quora"></span>
					<span class="fab fa-quora fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="React">
					<span class="fas fa-circle fa-stack-2x brand-color-react"></span>
					<span class="fab fa-react fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Reddit">
					<span class="fas fa-circle fa-stack-2x brand-color-reddit"></span>
					<span class="fab fa-reddit-alien fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Scribd">
					<span class="fas fa-circle fa-stack-2x brand-color-scribd"></span>
					<span class="fab fa-scribd fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Skype">
					<span class="fas fa-circle fa-stack-2x brand-color-skype"></span>
					<span class="fab fa-skype fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Slack">
					<span class="fas fa-circle fa-stack-2x brand-color-slack"></span>
					<span class="fab fa-slack-hash fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="SlideShare">
					<span class="fas fa-circle fa-stack-2x brand-color-slideshare"></span>
					<span class="fab fa-slideshare fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Snapchat">
					<span class="fas fa-circle fa-stack-2x brand-color-snapchat"></span>
					<span class="fab fa-snapchat-ghost fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="SoundCloud">
					<span class="fas fa-circle fa-stack-2x brand-color-soundcloud"></span>
					<span class="fab fa-soundcloud fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Spotify">
					<span class="fas fa-circle fa-stack-2x brand-color-spotify"></span>
					<span class="fab fa-spotify fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Squarespace">
					<span class="fas fa-circle fa-stack-2x brand-color-squarespace"></span>
					<span class="fab fa-squarespace fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Stack Exchange">
					<span class="fas fa-circle fa-stack-2x brand-color-stack-exchange"></span>
					<span class="fab fa-stack-exchange fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Stack Overflow">
					<span class="fas fa-circle fa-stack-2x brand-color-stack-overflow"></span>
					<span class="fab fa-stack-overflow fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Steam">
					<span class="fas fa-circle fa-stack-2x brand-color-steam"></span>
					<span class="fab fa-steam-symbol fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Strava">
					<span class="fas fa-circle fa-stack-2x brand-color-strava"></span>
					<span class="fab fa-strava fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Stripe">
					<span class="fas fa-circle fa-stack-2x brand-color-stripe"></span>
					<span class="fab fa-stripe-s fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="StumbleUpon">
					<span class="fas fa-circle fa-stack-2x brand-color-stumbleupon"></span>
					<span class="fab fa-stumbleupon fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Telegram">
					<span class="fas fa-circle fa-stack-2x brand-color-telegram"></span>
					<span class="fab fa-telegram-plane fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Trello">
					<span class="fas fa-circle fa-stack-2x brand-color-trello"></span>
					<span class="fab fa-trello fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="TripAdvisor">
					<span class="fas fa-circle fa-stack-2x brand-color-tripadvisor"></span>
					<span class="fab fa-tripadvisor fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Tumblr">
					<span class="fas fa-circle fa-stack-2x brand-color-tumblr"></span>
					<span class="fab fa-tumblr fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Twitch">
					<span class="fas fa-circle fa-stack-2x brand-color-twitch"></span>
					<span class="fab fa-twitch fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Twitter">
					<span class="fas fa-circle fa-stack-2x brand-color-twitter"></span>
					<span class="fab fa-twitter fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="TYPO3">
					<span class="fas fa-circle fa-stack-2x brand-color-typo3"></span>
					<span class="fab fa-typo3 fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Uber">
					<span class="fas fa-circle fa-stack-2x brand-color-uber"></span>
					<span class="fab fa-uber fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Viadeo">
					<span class="fas fa-circle fa-stack-2x brand-color-viadeo"></span>
					<span class="fab fa-viadeo fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Viber">
					<span class="fas fa-circle fa-stack-2x brand-color-viber"></span>
					<span class="fab fa-viber fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Vimeo">
					<span class="fas fa-circle fa-stack-2x brand-color-vimeo"></span>
					<span class="fab fa-vimeo-v fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Vine">
					<span class="fas fa-circle fa-stack-2x brand-color-vine"></span>
					<span class="fab fa-vine fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="VKontakte">
					<span class="fas fa-circle fa-stack-2x brand-color-vk"></span>
					<span class="fab fa-vk fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Vue.js">
					<span class="fas fa-circle fa-stack-2x brand-color-vuejs"></span>
					<span class="fab fa-vuejs fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="WhatsApp">
					<span class="fas fa-circle fa-stack-2x brand-color-whatsapp"></span>
					<span class="fab fa-whatsapp fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Wikipedia">
					<span class="fas fa-circle fa-stack-2x brand-color-wikipedia"></span>
					<span class="fab fa-wikipedia-w fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Windows">
					<span class="fas fa-circle fa-stack-2x brand-color-windows"></span>
					<span class="fab fa-windows fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="WordPress">
					<span class="fas fa-circle fa-stack-2x brand-color-wordpress"></span>
					<span class="fab fa-wordpress-simple fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Xbox">
					<span class="fas fa-circle fa-stack-2x brand-color-xbox"></span>
					<span class="fab fa-xbox fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="XING">
					<span class="fas fa-circle fa-stack-2x brand-color-xing"></span>
					<span class="fab fa-xing fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Yahoo!">
					<span class="fas fa-circle fa-stack-2x brand-color-yahoo"></span>
					<span class="fab fa-yahoo fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Yandex">
					<span class="fas fa-circle fa-stack-2x brand-color-yandex"></span>
					<span class="fab fa-yandex-international fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="Yelp">
					<span class="fas fa-circle fa-stack-2x brand-color-yelp"></span>
					<span class="fab fa-yelp fa-stack-1x fa-inverse"></span>
				</i>
				<i class="fa-stack fa-2x tooltip-init" data-tooltip="YouTube">
					<span class="fas fa-circle fa-stack-2x brand-color-youtube"></span>
					<span class="fab fa-youtube fa-stack-1x fa-inverse"></span>
				</i>
			</div>

		</div>

	</div>
</template>

<style scoped>
	.fa-stack {
		margin: 6px 4px;
	}
</style>