<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="utilities">Utilities</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="colors">Colors</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="colors">Colors</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block-title" data-i18n="gray">Gray</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-0">#F8F9FA</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-1">#F1F3F5</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-2">#E9ECEF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-3">#DEE2E6</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-4">#CED4DA</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-5">#ADB5BD</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-6">#868E96</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-7">#495057</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-8">#343A40</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-gray-9">#212529</div>
				</div>
			</div>

			<div class="block-title" data-i18n="red">Red</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-red-0">#FFF5F5</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-1">#FFE3E3</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-2">#FFC9C9</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-3">#FFA8A8</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-4">#FF8787</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-5">#FF6B6B</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-6">#FA5252</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-7">#F03E3E</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-8">#E03131</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-red-9">#C92A2A</div>
				</div>
			</div>

			<div class="block-title" data-i18n="pink">Pink</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-0">#FFF0F6</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-1">#FFDEEB</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-2">#FCC2D7</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-3">#FAA2C1</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-4">#F783AC</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-5">#F06595</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-6">#E64980</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-7">#D6336C</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-8">#C2255C</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-pink-9">#A61E4D</div>
				</div>
			</div>

			<div class="block-title" data-i18n="purple">Purple</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-0">#F8F0FC</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-1">#F3D9FA</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-2">#EEBEFA</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-3">#E599F7</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-4">#DA77F2</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-5">#CC5DE8</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-6">#BE4BDB</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-7">#AE3EC9</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-8">#9C36B5</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-purple-9">#862E9C</div>
				</div>
			</div>

			<div class="block-title" data-i18n="violet">Violet</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-0">#F3F0FF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-1">#E5DBFF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-2">#D0BFFF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-3">#B197FC</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-4">#9775FA</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-5">#845EF7</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-6">#7950F2</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-7">#7048E8</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-8">#6741D9</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-violet-9">#5F3DC4</div>
				</div>
			</div>

			<div class="block-title" data-i18n="indigo">Indigo</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-0">#EDF2FF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-1">#DBE4FF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-2">#BAC8FF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-3">#91A7FF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-4">#748FFC</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-5">#5C7CFA</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-6">#4C6EF5</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-7">#4263EB</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-8">#3B5BDB</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-indigo-9">#364FC7</div>
				</div>
			</div>

			<div class="block-title" data-i18n="blue">Blue</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-0">#E7F5FF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-1">#D0EBFF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-2">#A5D8FF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-3">#74C0FC</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-4">#4DABF7</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-5">#339AF0</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-6">#228BE6</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-7">#1C7ED6</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-8">#1971C2</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-blue-9">#1864AB</div>
				</div>
			</div>

			<div class="block-title" data-i18n="cyan">Cyan</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-0">#E3FAFC</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-1">#C5F6FA</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-2">#99E9F2</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-3">#66D9E8</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-4">#3BC9DB</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-5">#22B8CF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-6">#15AABF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-7">#1098AD</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-8">#0C8599</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-cyan-9">#0B7285</div>
				</div>
			</div>

			<div class="block-title" data-i18n="teal">Teal</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-0">#E6FCF5</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-1">#C3FAE8</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-2">#96F2D7</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-3">#63E6BE</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-4">#38D9A9</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-5">#20C997</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-6">#12B886</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-7">#0CA678</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-8">#099268</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-teal-9">#087F5B</div>
				</div>
			</div>

			<div class="block-title" data-i18n="green">Green</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-green-0">#EBFBEE</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-1">#D3F9D8</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-2">#B2F2BB</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-3">#8CE99A</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-4">#69DB7C</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-5">#51CF66</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-6">#40C057</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-7">#37B24D</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-8">#2F9E44</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-green-9">#2B8A3E</div>
				</div>
			</div>

			<div class="block-title" data-i18n="lime">Lime</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-0">#F4FCE3</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-1">#E9FAC8</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-2">#D8F5A2</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-3">#C0EB75</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-4">#A9E34B</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-5">#94D82D</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-6">#82C91E</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-7">#74B816</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-8">#66A80F</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-lime-9">#5C940D</div>
				</div>
			</div>

			<div class="block-title" data-i18n="yellow">Yellow</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-0">#FFF9DB</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-1">#FFF3BF</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-2">#FFEC99</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-3">#FFE066</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-4">#FFD43B</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-5">#FCC419</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-6">#FAB005</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-7">#F59F00</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-8">#F08C00</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-yellow-9">#E67700</div>
				</div>
			</div>

			<div class="block-title" data-i18n="orange">Orange</div>
			<div class="block">
				<div class="row">
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-0">#FFF4E6</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-1">#FFE8CC</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-2">#FFD8A8</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-3">#FFC078</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-4">#FFA94D</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-5">#FF922B</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-6">#FD7E14</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-7">#F76707</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-8">#E8590C</div>
					<div class="col-50 tablet-33 desktop-20 bg-color-orange-9">#D9480F</div>
				</div>
			</div>

		</div>

	</div>
</template>

<style scoped>
	[class^=col-] {
		align-items: center;
		color: #FFFFFF;
		display: flex;
		height: 48px;
		justify-content: center;
		margin-bottom: 16px;
	}
</style>