<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="utilities">Utilities</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="elevation">Elevation</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="elevation">Elevation</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Elevation is the relative distance between two surfaces along the z-axis.</p>
				<p>A surface's elevation determines the appearance of its shadow which provides important visual cues about the depth and directional movement.</p>
			</div>

			<div class="block">
				<div class="row">
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-1">1</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-2">2</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-3">3</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-4">4</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-5">5</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-6">6</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-7">7</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-8">8</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-9">9</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-10">10</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-11">11</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-12">12</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-13">13</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-14">14</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-15">15</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-16">16</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-17">17</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-18">18</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-19">19</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-20">20</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-21">21</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-22">22</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-23">23</div>
					</div>
					<div class="col-100 tablet-33 desktop-25">
						<div class="elevation-24">24</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</template>

<style scoped>
	[class*=elevation] {
		align-items: center;
		display: flex;
		font-size: 32px;
		height: 128px;
		justify-content: center;
		margin: 32px 8px;
		text-align: center;
	}
</style>