<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="utilities">Utilities</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="kenburn-effect">Kenburn Effect</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="kenburn-effect">Kenburn Effect</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Kenburn Effect is the slow panning and zooming of an image.</p>
			</div>

			<div class="block">
				<div class="kenburn-wrapper">
					<div class="kenburn-image" style="background-image: url(https://source.unsplash.com/vNMA0U8yxio);"></div>
				</div>
			</div>

		</div>

	</div>
</template>