<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="web-apis">Web APIs</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="quota-estimation-api">Quota Estimation API</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="quota-estimation-api">Quota Estimation API</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			{{#if isApiSupported}}
			<div class="empty-state">
				<div class="empty-state-media">
					<img src="assets/custom/img/storage.svg" alt="" />
				</div>
				<div class="empty-state-title">Yaay!</div>
				<div class="empty-state-text">This browser supports Quota Estimation API.</div>
				<div class="empty-state-actions">
					<button type="button" class="button button-big button-fill button-round" @click="explore" data-i18n="explore">Explore</button>
				</div>
			</div>
			{{else}}
			<div class="empty-state">
				<div class="empty-state-media">
					<img class="filter-grayscale" src="assets/custom/img/storage.svg" alt="" />
				</div>
				<div class="empty-state-title">Oops!</div>
				<div class="empty-state-text">This browser does not support Quota Estimation API.</div>
				<div class="empty-state-actions">
					<a href="https://www.chromestatus.com/features/5630353511284736" target="_blank" class="button button-big button-fill button-round external" data-i18n="supported-browsers">Supported Browsers</a>
				</div>
			</div>
			{{/if}}

		</div>

		{{#if isApiSupported}}
		<div class="popup popup-tablet-fullscreen popup-explore">
			<div class="view">
				<div class="page">

					<div class="navbar">
						<div class="navbar-inner">
							<div class="left ios-only">
								<a href="#" class="link popup-close">
									<span data-i18n="close">Close</span>
								</a>
							</div>
							<div class="title" data-i18n="quota-estimation-api">Quota Estimation API</div>
							<div class="right md-only">
								<a href="#" class="link icon-only popup-close">
									<i class="icon material-icons">close</i>
								</a>
							</div>
						</div>
					</div>

					<div class="page-content">

						<div class="block">
							<p>Quota Estimation API allows to query the system for the size of storage space in bytes currently used and available for the app.</p>
						</div>

						<div class="gauge display-block"></div>

						<div class="list">
							<ul>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title">Total Storage</div>
											<div class="item-after">{{storage.total}} MB</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title">Used Storage</div>
											<div class="item-after">{{storage.used}} MB</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-inner">
											<div class="item-title">Available Storage</div>
											<div class="item-after">{{storage.available}} MB</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</div>

				</div>
			</div>
		</div>
		{{/if}}

	</div>
</template>

<script>
	return {
		data: function() {
			return {
				isApiSupported: (function() {
					return app.support.webApi.quotaEstimation;
				})(),
				storage: {
					total: null,
					used: null,
					available: null
				}
			}
		},
		methods: {
			explore: function() {
				var self = this;
				var popup = app.popup.create({
					el: '.popup-explore',
					on: {
						opened: function() {
							navigator.storage.estimate().then(function(estimate) {
								self.updateStorageInfo(estimate);
							});
						}
					}
				});
				popup.open();
			},
			updateStorageInfo: function(estimate) {
				var self = this;
				var storageData = {};
				storageData.total = (estimate.quota / 1048576).toFixed(2);
				storageData.used = (estimate.usage / 1048576).toFixed(2);
				storageData.available = ((estimate.quota - estimate.usage) / 1048576).toFixed(2);
				app.gauge.create({
					borderColor: '#4CAF50',
					el: '.gauge',
					labelText: 'Available',
					size: 192,
					type: 'circle',
					value: storageData.available / storageData.total,
					valueFontSize: 24,
					valueText: storageData.available + ' MB',
					valueTextColor: '#4CAF50'
				});
				self.$setState({
					storage: storageData
				});
			}
		}
	}
</script>