<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="web-apis">Web APIs</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="vibration-api">Vibration API</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="vibration-api">Vibration API</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			{{#if isApiSupported}}
			<div class="empty-state">
				<div class="empty-state-media">
					<img src="assets/custom/img/vibration.svg" alt="" />
				</div>
				<div class="empty-state-title">Yaay!</div>
				<div class="empty-state-text">This browser supports Vibration API.</div>
				<div class="empty-state-actions">
					<button type="button" class="button button-big button-fill button-round" @click="explore" data-i18n="explore">Explore</button>
				</div>
			</div>
			{{else}}
			<div class="empty-state">
				<div class="empty-state-media">
					<img class="filter-grayscale" src="assets/custom/img/vibration.svg" alt="" />
				</div>
				<div class="empty-state-title">Oops!</div>
				<div class="empty-state-text">This browser does not support Vibration API.</div>
				<div class="empty-state-actions">
					<a href="https://caniuse.com/vibration" target="_blank" class="button button-big button-fill button-round external" data-i18n="supported-browsers">Supported Browsers</a>
				</div>
			</div>
			{{/if}}

		</div>

		{{#if isApiSupported}}
		<div class="popup popup-tablet-fullscreen popup-explore">
			<div class="view">
				<div class="page">

					<div class="navbar">
						<div class="navbar-inner">
							<div class="left ios-only">
								<a href="#" class="link popup-close">
									<span data-i18n="close">Close</span>
								</a>
							</div>
							<div class="title" data-i18n="vibration-api">Vibration API</div>
							<div class="right md-only">
								<a href="#" class="link icon-only popup-close">
									<i class="icon material-icons">close</i>
								</a>
							</div>
						</div>
					</div>

					<div class="page-content">

						<div class="block">
							<p>Vibration API allows to access the vibration mechanism of the device.</p>
							<p>It can be used to provide physical feedback to the user by causing the device to shake.</p>
						</div>

						<div class="block">
							<p><button type="button" class="button button-big button-fill color-green" @click="singleVibration">Single Vibration</button></p>
							<p><button type="button" class="button button-big button-fill color-green" @click="patternedVibration">Patterned Vibration</button></p>
						</div>

						{{#if isVibrating}}
						<div class="block">
							<p><button type="button" class="button button-big button-fill color-red" @click="stopVibration">Stop Vibration</button></p>
						</div>
						{{/if}}

					</div>

				</div>
			</div>
		</div>
		{{/if}}

	</div>
</template>

<script>
	return {
		data: function() {
			return {
				isApiSupported: (function() {
					return app.support.webApi.vibration;
				})(),
				isVibrating: false
			}
		},
		methods: {
			explore: function() {
				var self = this;
				var popup = app.popup.create({
					el: '.popup-explore',
					on: {
						closed: function() {
							self.stopVibration();
						}
					}
				});
				popup.open();
			},
			singleVibration: function() {
				var self = this;
				navigator.vibrate(1000);
				self.setVibrationStatus(true);
				setTimeout(function() { self.setVibrationStatus(false); }, 1000);
			},
			patternedVibration: function() {
				var self = this;
				navigator.vibrate([1000, 500, 1500, 1000, 2000]);
				self.setVibrationStatus(true);
				setTimeout(function() { self.setVibrationStatus(false); }, 6000);
			},
			stopVibration: function() {
				var self = this;
				navigator.vibrate(0);
				self.setVibrationStatus(false);
			},
			setVibrationStatus: function(status) {
				var self = this;
				self.$setState({
					isVibrating: status
				});
			}
		}
	}
</script>