<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="accordion">Accordion</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="accordion">Accordion</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Accordion comprises a vertically stacked list of items.</p>
				<p>Each item can be expanded or collapsed to show or hide the content associated with it.</p>
			</div>

			<div class="block-title">List View Accordion</div>
			<div class="list accordion-list">
				<ul>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">What is Lorem Ipsum?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>Lorem Ipsum is simply a dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>
					</li>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Where does it come from?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>Lorem Ipsum has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
							</div>
						</div>
					</li>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Why do we use it?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="block-title">Separate Collapsibles</div>
			<div class="list">
				<ul>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">What is Lorem Ipsum?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>Lorem Ipsum is simply a dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>
					</li>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Where does it come from?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>Lorem Ipsum has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
							</div>
						</div>
					</li>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Why do we use it?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="block-title">Inset Accordion</div>
			<div class="list accordion-list inset">
				<ul>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">What is Lorem Ipsum?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>Lorem Ipsum is simply a dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>
					</li>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Where does it come from?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>Lorem Ipsum has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
							</div>
						</div>
					</li>
					<li class="accordion-item">
						<a href="#" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Why do we use it?</div>
								</div>
							</div>
						</a>
						<div class="accordion-item-content">
							<div class="block">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>

	</div>
</template>