<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="badge">Badge</div>
				<div class="right">
					<a href="#" class="link icon-only">
						<i class="icon f7-icons ios-only">bell<span class="badge color-red">5</span></i>
						<i class="icon material-icons md-only">notifications<span class="badge color-red">5</span></i>
					</a>
				</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="badge">Badge</div>
					</div>
				</div>
			</div>
		</div>

		<div class="toolbar toolbar-bottom-md tabbar tabbar-labels">
			<div class="toolbar-inner">
				<a href="#" class="tab-link tab-link-active">
					<i class="icon f7-icons ios-only">person<span class="badge color-pink">15</span></i>
					<i class="icon material-icons md-only">person<span class="badge color-pink">15</span></i>
					<span class="tabbar-label">Contacts</span>
				</a>
				<a href="#" class="tab-link">
					<i class="icon f7-icons ios-only">email<span class="badge color-green">10</span></i>
					<i class="icon material-icons md-only">email<span class="badge color-green">10</span></i>
					<span class="tabbar-label">Inbox</span>
				</a>
				<a href="#" class="tab-link">
					<i class="icon f7-icons ios-only">today<span class="badge color-yellow text-color-black">5</span></i>
					<i class="icon material-icons md-only">today<span class="badge color-yellow text-color-black">5</span></i>
					<span class="tabbar-label">Calendar</span>
				</a>
				<a href="#" class="tab-link">
					<i class="icon f7-icons ios-only">settings</i>
					<i class="icon material-icons md-only">settings</i>
					<span class="tabbar-label">Settings</span>
				</a>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Badge is a small status descriptor for elements.</p>
				<p>It consists of a small label containing a number or a short set of characters that appears in proximity to another element.</p>
			</div>

			<div class="list">
				<div class="list-group">
					<ul>
						<li class="list-group-title">Basic</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Number</div>
									<div class="item-after">
										<span class="badge">100</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Text</div>
									<div class="item-after">
										<span class="badge">Online</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">Colored</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Red</div>
									<div class="item-after">
										<span class="badge color-red">Red</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Green</div>
									<div class="item-after">
										<span class="badge color-green">Green</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Blue</div>
									<div class="item-after">
										<span class="badge color-blue">Blue</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Pink</div>
									<div class="item-after">
										<span class="badge color-pink">Pink</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Yellow</div>
									<div class="item-after">
										<span class="badge color-yellow text-color-black">Yellow</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Orange</div>
									<div class="item-after">
										<span class="badge color-orange">Orange</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Gray</div>
									<div class="item-after">
										<span class="badge color-gray">Gray</span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Black</div>
									<div class="item-after">
										<span class="badge color-black">Black</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</template>