<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="button">Button</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="button">Button</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Button allows user to take actions and make choices with a single tap.</p>
			</div>

			<div class="block-title">Usual Buttons</div>
			<div class="block block-strong">
				<div class="row">
					<div class="col">
						<button class="button">Button</button>
					</div>
					<div class="col">
						<button class="button button-round">Button</button>
					</div>
				</div>
			</div>

			<div class="block-title">Fill Buttons</div>
			<div class="block block-strong">
				<div class="row">
					<div class="col">
						<button class="button button-fill">Button</button>
					</div>
					<div class="col">
						<button class="button button-fill button-round">Button</button>
					</div>
				</div>
			</div>

			<div class="block-title">Outline Buttons</div>
			<div class="block block-strong">
				<div class="row">
					<div class="col">
						<button class="button button-outline">Button</button>
					</div>
					<div class="col">
						<button class="button button-outline button-round">Button</button>
					</div>
				</div>
			</div>

			<div class="block-title">Raised Buttons</div>
			<div class="block block-strong">
				<div class="row">
					<div class="col">
						<button class="button button-raised">Button</button>
					</div>
					<div class="col">
						<button class="button button-fill button-raised">Button</button>
					</div>
					<div class="col">
						<button class="button button-outline button-raised">Button</button>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<button class="button button-raised button-round">Button</button>
					</div>
					<div class="col">
						<button class="button button-fill button-raised button-round">Button</button>
					</div>
					<div class="col">
						<button class="button button-outline button-raised button-round">Button</button>
					</div>
				</div>
			</div>

			<div class="block-title">Segmented Buttons</div>
			<div class="block block-strong">
				<div class="segmented segmented-raised">
					<button class="button">Button</button>
					<button class="button">Button</button>
					<button class="button button-active">Button</button>
				</div>
				<div class="segmented margin-top">
					<button class="button button-outline">Button</button>
					<button class="button button-outline">Button</button>
					<button class="button button-outline button-active">Button</button>
				</div>
				<div class="segmented segmented-raised segmented-round margin-top">
					<button class="button button-round">Button</button>
					<button class="button button-round">Button</button>
					<button class="button button-round button-active">Button</button>
				</div>
				<div class="segmented segmented-round margin-top">
					<button class="button button-outline button-round">Button</button>
					<button class="button button-outline button-round">Button</button>
					<button class="button button-outline button-round button-active">Button</button>
				</div>
			</div>

			<div class="block-title">Big Buttons</div>
			<div class="block block-strong">
				<div class="row">
					<button class="col button button-big">Button</button>
					<button class="col button button-big button-fill">Button</button>
				</div>
				<div class="row margin-top">
					<div class="col">
						<button class="button button-big button-raised">Button</button>
					</div>
					<div class="col">
						<button class="button button-big button-fill button-raised">Button</button>
					</div>
				</div>
			</div>

			<div class="block-title">Small Buttons</div>
			<div class="block block-strong">
				<div class="row">
					<div class="col">
						<button class="button button-small">Button</button>
					</div>
					<div class="col">
						<button class="button button-small button-outline">Button</button>
					</div>
					<div class="col">
						<button class="button button-small button-fill">Button</button>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<button class="button button-small button-round">Button</button>
					</div>
					<div class="col">
						<button class="button button-small button-round button-outline">Button</button>
					</div>
					<div class="col">
						<button class="button button-small button-round button-fill">Button</button>
					</div>
				</div>
			</div>

			<div class="block-title">Color Buttons</div>
			<div class="block block-strong">
				<div class="row">
					<div class="col">
						<button class="button color-red">Red</button>
					</div>
					<div class="col">
						<button class="button color-green">Green</button>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<button class="button button-outline color-blue">Blue</button>
					</div>
					<div class="col">
						<button class="button button-outline color-pink">Pink</button>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<button class="button button-fill color-yellow">Yellow</button>
					</div>
					<div class="col">
						<button class="button button-fill color-orange">Orange</button>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<button class="button button-outline button-round color-gray">Gray</button>
					</div>
					<div class="col">
						<button class="button button-fill button-round color-black">Black</button>
					</div>
				</div>
			</div>

      <div class="block-title">Social Buttons</div>
			<div class="block block-strong">
        <p>
          <button class="button button-big button-fill button-social brand-bg-color-dribbble">
						<i class="fab fa-fw fa-lg fa-dribbble"></i>
						<span>Connect with Dribbble</span>
					</button>
        </p>
        <p>
          <button class="button button-big button-fill button-social brand-bg-color-facebook">
						<i class="fab fa-fw fa-lg fa-facebook-f"></i>
						<span>Connect with Facebook</span>
					</button>
        </p>
        <p>
          <button class="button button-big button-fill button-social brand-bg-color-google-plus">
						<i class="fab fa-fw fa-lg fa-google-plus-g"></i>
						<span>Connect with Google+</span>
					</button>
        </p>
        <p>
          <button class="button button-big button-fill button-social brand-bg-color-linkedin">
						<i class="fab fa-fw fa-lg fa-linkedin-in"></i>
						<span>Connect with LinkedIn</span>
					</button>
        </p>
        <p>
          <button class="button button-big button-fill button-social brand-bg-color-microsoft">
						<i class="fab fa-fw fa-lg fa-windows"></i>
						<span>Connect with Microsoft</span>
					</button>
        </p>
        <p>
          <button class="button button-big button-fill button-social brand-bg-color-twitter">
						<i class="fab fa-fw fa-lg fa-twitter"></i>
						<span>Connect with Twitter</span>
					</button>
        </p>
        <p>
          <button class="button button-big button-fill button-social brand-bg-color-vk">
						<i class="fab fa-fw fa-lg fa-vk"></i>
						<span>Connect with VK</span>
					</button>
        </p>
        <p>
          <button class="button button-big button-fill button-social brand-bg-color-yahoo">
						<i class="fab fa-fw fa-lg fa-yahoo"></i>
						<span>Connect with Yahoo!</span>
					</button>
        </p>
      </div>

		</div>

	</div>
</template>