<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="cards">Cards</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="cards">Cards</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Cards are a convenient means of displaying content composed of different elements in an organized way.</p>
				<p>They serve as an entry point to more detailed information.</p>
				<p>Cards may contain a photo, text, and a link about a single subject.</p>
			</div>

			<div class="block-title">Simple Cards</div>
			<div class="card">
				<div class="card-content card-content-padding">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">Card Header</div>
				<div class="card-content card-content-padding">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				</div>
				<div class="card-footer">Card Footer</div>
			</div>

			<div class="block-title">Outline Cards</div>
			<div class="card card-outline">
				<div class="card-content card-content-padding">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				</div>
			</div>
			<div class="card card-outline">
				<div class="card-header">Card Header</div>
				<div class="card-content card-content-padding">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				</div>
				<div class="card-footer">Card Footer</div>
			</div>

      <div class="block-title">Social Card</div>
      <div class="card social-card">
        <div class="card-header">
          <div class="user-avatar">
            <img src="https://randomuser.me/api/portraits/women/60.jpg" width="36" alt="" />
          </div>
          <div class="user-name">Kate Upton</div>
          <div class="post-datetime">10:10 AM</div>
        </div>
        <div class="card-content card-content-padding">
          <p class="post-caption">Et harum quidem rerum facilis est et expedita distinctio.</p>
          <div class="post-media">
            <img class="img-responsive" src="https://source.unsplash.com/JlymtjqG2aU" alt="" />
          </div>
          <div class="post-stats">
            <div>22 Likes</div>
            <div>12 Comments</div>
            <div>1 Share</div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="link">
            <i class="far fa-thumbs-up"></i>
            <span>Like</span>
          </a>
          <a href="#" class="link">
            <i class="far fa-comment"></i>
            <span>Comment</span>
          </a>
          <a href="#" class="link">
            <i class="fas fa-share-alt"></i>
            <span>Share</span>
          </a>
        </div>
      </div>

			<div class="block-title">Card with List View</div>
			<div class="card card-outline">
				<div class="card-header card-header-image text-color-white align-items-flex-end" style="background-image: url('https://www.dropbox.com/s/b9gfxo33zribhkd/harry-potter.jpg?raw=1')">Harry Potter (Film Series)</div>
				<div class="card-content">
					<div class="list media-list">
						<ul>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">The Sorcerer's Stone</div>
									</div>
									<div class="item-subtitle">2001</div>
								</div>
							</li>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">The Chamber of Secrets</div>
									</div>
									<div class="item-subtitle">2002</div>
								</div>
							</li>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">The Prisoner of Azkaban</div>
									</div>
									<div class="item-subtitle">2004</div>
								</div>
							</li>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">The Goblet of Fire</div>
									</div>
									<div class="item-subtitle">2005</div>
								</div>
							</li>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">The Order of the Phoenix</div>
									</div>
									<div class="item-subtitle">2007</div>
								</div>
							</li>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">The Half-Blood Prince</div>
									</div>
									<div class="item-subtitle">2009</div>
								</div>
							</li>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">The Deathly Hallows - Part 1</div>
									</div>
									<div class="item-subtitle">2010</div>
								</div>
							</li>
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">The Deathly Hallows - Part 2</div>
									</div>
									<div class="item-subtitle">2011</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>

	</div>
</template>