<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="checkbox">Checkbox</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="checkbox">Checkbox</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Checkboxes allow the user to select multiple options from a set.</p>
			</div>

			<div class="block-title">Inline</div>
			<div class="block block-strong">
				<p>
					<label class="checkbox">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>Neque porro quisquam</span>
					<label class="checkbox color-red">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>est qui dolorem ipsum quia dolor sit amet.</span>
					<label class="checkbox color-green">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>Et harum quidem rerum facilis est et expedita distinctio.</span>
					<label class="checkbox color-blue">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>Nam libero tempore,</span>
					<label class="checkbox color-pink">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>omnis voluptas assumenda est, omnis dolor repellendus.</span>
					<label class="checkbox color-yellow">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>Itaque earum rerum hic tenetur</span>
					<label class="checkbox color-orange">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>a sapiente delectus,</span>
					<label class="checkbox color-gray">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>ut aut reiciendis voluptatibus maiores alias,</span>
					<label class="checkbox color-black">
						<input type="checkbox" name="checkbox" checked />
						<i class="icon-checkbox"></i>
					</label>
					<span>consequatur aut perferendis doloribus asperiores repellat.</span>
				</p>
			</div>

			<div class="block-title">List</div>
			<div class="list">
				<ul>
					<li>
						<label class="item-checkbox item-content">
							<input type="checkbox" name="genre" value="rock" />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Rock</div>
							</div>
      			</label>
    			</li>
					<li>
						<label class="item-checkbox item-content color-red">
							<input type="checkbox" name="genre" value="pop" checked />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Pop</div>
							</div>
      			</label>
    			</li>
					<li>
						<label class="item-checkbox item-content color-green">
							<input type="checkbox" name="genre" value="latin" />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Latin</div>
							</div>
      			</label>
    			</li>
					<li>
						<label class="item-checkbox item-content color-blue">
							<input type="checkbox" name="genre" value="jazz" />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Jazz</div>
							</div>
      			</label>
    			</li>
					<li>
						<label class="item-checkbox item-content color-pink">
							<input type="checkbox" name="genre" value="hip-hop" checked />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Hip-Hop</div>
							</div>
      			</label>
    			</li>
					<li>
						<label class="item-checkbox item-content color-yellow">
							<input type="checkbox" name="genre" value="folk" />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Folk</div>
							</div>
      			</label>
    			</li>
					<li>
						<label class="item-checkbox item-content color-orange">
							<input type="checkbox" name="genre" value="electronic" checked />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Electronic</div>
							</div>
      			</label>
    			</li>
					<li>
						<label class="item-checkbox item-content color-gray">
							<input type="checkbox" name="genre" value="country" />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Country</div>
							</div>
      			</label>
    			</li>
					<li>
						<label class="item-checkbox item-content color-black">
							<input type="checkbox" name="genre" value="blues" />
							<i class="icon icon-checkbox"></i>
							<div class="item-inner">
								<div class="item-title">Blues</div>
							</div>
      			</label>
    			</li>
				</ul>
			</div>

		</div>

	</div>
</template>