<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="chips">Chips</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="chips">Chips</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Chips represent complex entities in a compact way which may contain an icon, image or text.</p>
			</div>

			<div class="block-title">Default</div>
			<div class="block block-strong">
				<div class="chip">
					<div class="chip-label">Monday</div>
				</div>
				<div class="chip">
					<div class="chip-label">Tuesday</div>
				</div>
				<div class="chip">
					<div class="chip-label">Wednesday</div>
				</div>
				<div class="chip">
					<div class="chip-label">Thursday</div>
				</div>
				<div class="chip">
					<div class="chip-label">Friday</div>
				</div>
				<div class="chip">
					<div class="chip-label">Saturday</div>
				</div>
				<div class="chip">
					<div class="chip-label">Sunday</div>
				</div>
			</div>

			<div class="block-title">Outline</div>
			<div class="block block-strong">
				<div class="chip chip-outline">
					<div class="chip-label">Monday</div>
				</div>
				<div class="chip chip-outline">
					<div class="chip-label">Tuesday</div>
				</div>
				<div class="chip chip-outline">
					<div class="chip-label">Wednesday</div>
				</div>
				<div class="chip chip-outline">
					<div class="chip-label">Thursday</div>
				</div>
				<div class="chip chip-outline">
					<div class="chip-label">Friday</div>
				</div>
				<div class="chip chip-outline">
					<div class="chip-label">Saturday</div>
				</div>
				<div class="chip chip-outline">
					<div class="chip-label">Sunday</div>
				</div>
			</div>

			<div class="block-title">Colored</div>
			<div class="block block-strong">
				<div class="chip color-red">
					<div class="chip-label">Red</div>
				</div>
				<div class="chip color-green">
					<div class="chip-label">Green</div>
				</div>
				<div class="chip color-blue">
					<div class="chip-label">Blue</div>
				</div>
				<div class="chip color-pink">
					<div class="chip-label">Pink</div>
				</div>
				<div class="chip color-yellow">
					<div class="chip-label">Yellow</div>
				</div>
				<div class="chip color-orange">
					<div class="chip-label">Orange</div>
				</div>
				<div class="chip color-gray">
					<div class="chip-label">Gray</div>
				</div>
				<div class="chip color-black">
					<div class="chip-label">Black</div>
				</div>
			</div>

			<div class="block-title">Colored + Outline</div>
			<div class="block block-strong">
				<div class="chip chip-outline color-red">
					<div class="chip-label">Red</div>
				</div>
				<div class="chip chip-outline color-green">
					<div class="chip-label">Green</div>
				</div>
				<div class="chip chip-outline color-blue">
					<div class="chip-label">Blue</div>
				</div>
				<div class="chip chip-outline color-pink">
					<div class="chip-label">Pink</div>
				</div>
				<div class="chip chip-outline color-yellow">
					<div class="chip-label">Yellow</div>
				</div>
				<div class="chip chip-outline color-orange">
					<div class="chip-label">Orange</div>
				</div>
				<div class="chip chip-outline color-gray">
					<div class="chip-label">Gray</div>
				</div>
				<div class="chip chip-outline color-black">
					<div class="chip-label">Black</div>
				</div>
			</div>

			<div class="block-title">Icon</div>
			<div class="block block-strong">
				<div class="chip">
					<div class="chip-media bg-color-green">
						<i class="icon fas fa-check"></i>
					</div>
					<div class="chip-label">Success</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-blue">
						<i class="icon fas fa-info"></i>
					</div>
					<div class="chip-label">Info</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-orange">
						<i class="icon fas fa-exclamation"></i>
					</div>
					<div class="chip-label">Warning</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-red">
						<i class="icon fas fa-times"></i>
					</div>
					<div class="chip-label">Error</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-pink">
						<i class="icon fas fa-heart"></i>
					</div>
					<div class="chip-label">Heart</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-yellow">
						<i class="icon fas fa-star color-black"></i>
					</div>
					<div class="chip-label">Star</div>
				</div>
			</div>

			<div class="block-title">Avatar</div>
			<div class="block block-strong">
				<div class="chip">
					<div class="chip-media">
						<img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" />
					</div>
					<div class="chip-label">Jane Zhu</div>
				</div>
				<div class="chip">
					<div class="chip-media">
						<img src="https://randomuser.me/api/portraits/women/48.jpg" alt="" />
					</div>
					<div class="chip-label">Laurie Barnaby</div>
				</div>
				<div class="chip">
					<div class="chip-media">
						<img src="https://randomuser.me/api/portraits/men/35.jpg" alt="" />
					</div>
					<div class="chip-label">Noah Pierre</div>
				</div>
				<div class="chip">
					<div class="chip-media">
						<img src="https://randomuser.me/api/portraits/men/60.jpg" alt="" />
					</div>
					<div class="chip-label">Topias Kantola</div>
				</div>
				<div class="chip">
					<div class="chip-media">
						<img src="https://randomuser.me/api/portraits/men/91.jpg" alt="" />
					</div>
					<div class="chip-label">Wyatt Morris</div>
				</div>
			</div>

			<div class="block-title">Contact</div>
			<div class="block block-strong">
				<div class="chip">
					<div class="chip-media bg-color-pink">D</div>
					<div class="chip-label">Dennis Ritchie</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-blue">J</div>
					<div class="chip-label">Jimmy Wales</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-green">L</div>
					<div class="chip-label">Linus Torvalds</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-black">R</div>
					<div class="chip-label">Richard Stallman</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-yellow text-color-black">S</div>
					<div class="chip-label">Satoshi Nakamoto</div>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-red">T</div>
					<div class="chip-label">Tim Berners-Lee</div>
				</div>
			</div>

			<div class="block-title">Deletable</div>
			<div class="block block-strong">
				<div class="chip">
					<div class="chip-label">Monday</div>
					<a href="#" class="chip-delete"></a>
				</div>
				<div class="chip chip-outline">
					<div class="chip-label">Wednesday</div>
					<a href="#" class="chip-delete"></a>
				</div>
				<div class="chip color-green">
					<div class="chip-label">Green</div>
					<a href="#" class="chip-delete"></a>
				</div>
				<div class="chip chip-outline color-pink">
					<div class="chip-label">Pink</div>
					<a href="#" class="chip-delete"></a>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-blue">
						<i class="icon fas fa-info"></i>
					</div>
					<div class="chip-label">Info</div>
					<a href="#" class="chip-delete"></a>
				</div>
				<div class="chip">
					<div class="chip-media">
						<img src="https://randomuser.me/api/portraits/men/35.jpg" alt="" />
					</div>
					<div class="chip-label">Noah Pierre</div>
					<a href="#" class="chip-delete"></a>
				</div>
				<div class="chip">
					<div class="chip-media bg-color-yellow text-color-black">S</div>
					<div class="chip-label">Satoshi Nakamoto</div>
					<a href="#" class="chip-delete"></a>
				</div>
			</div>

			<div class="block-title">Selectable (Radio)</div>
			<div class="block block-strong">
				<label class="chip-selectable color-green">
					<input type="radio" name="season" value="winter" />
					<div class="chip">
						<div class="chip-label">Winter</div>
					</div>
				</label>
				<label class="chip-selectable">
					<input type="radio" name="season" value="spring" checked />
					<div class="chip">
						<div class="chip-label">Spring</div>
					</div>
				</label>
				<label class="chip-selectable">
					<input type="radio" name="season" value="summer" />
					<div class="chip">
						<div class="chip-label">Summer</div>
					</div>
				</label>
				<label class="chip-selectable">
					<input type="radio" name="season" value="autumn" />
					<div class="chip">
						<div class="chip-label">Autumn</div>
					</div>
				</label>
			</div>

			<div class="block-title">Selectable (Checkbox)</div>
			<div class="block block-strong">
				<label class="chip-selectable">
					<input type="checkbox" name="element" value="sky" />
					<div class="chip chip-outline">
						<div class="chip-label">Sky</div>
					</div>
				</label>
				<label class="chip-selectable">
					<input type="checkbox" name="element" value="air" checked />
					<div class="chip chip-outline">
						<div class="chip-label">Air</div>
					</div>
				</label>
				<label class="chip-selectable">
					<input type="checkbox" name="element" value="water" />
					<div class="chip chip-outline">
						<div class="chip-label">Water</div>
					</div>
				</label>
				<label class="chip-selectable">
					<input type="checkbox" name="element" value="fire" checked />
					<div class="chip chip-outline">
						<div class="chip-label">Fire</div>
					</div>
				</label>
				<label class="chip-selectable">
					<input type="checkbox" name="element" value="earth" />
					<div class="chip chip-outline">
						<div class="chip-label">Earth</div>
					</div>
				</label>
			</div>

		</div>

	</div>
</template>

<script>
	return {
		on: {
			pageInit: function() {
				var self = this;
				self.$('.chip-delete').on('click', function() {
					self.$(this).parent().remove();
				});
			}
		}
	}
</script>