<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="floating-action-button">Floating Action Button</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="floating-action-button">Floating Action Button</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Floating Action Button (FAB) represents the primary action of a screen.</p>
			</div>

			<div class="list">
				<ul>
					<li>
						<a href="/components/floating-action-button/default" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Default</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/floating-action-button/extended" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Extended</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/floating-action-button/speed-dial" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Speed Dial</div>
								</div>
							</div>
						</a>
					</li>
					<li class="item-divider">Morph</li>
					<li>
						<a href="/components/floating-action-button/morph-searchbar" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Searchbar</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/floating-action-button/morph-toolbar" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Toolbar</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>

		</div>

	</div>
</template>