<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="hamburger">Hamburger</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="hamburger">Hamburger</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Hamburger is a button typically used to toggle a menu between being collapsed behind the button or displayed on the screen.</p>
			</div>

			<div class="block">

				<div class="row">
					<div class="col bg-color-red-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--3dx">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>3DX</p>
					</div>
					<div class="col bg-color-red-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--3dx-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>3DX Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-pink-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--3dy">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>3DY</p>
					</div>
					<div class="col bg-color-pink-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--3dy-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>3DY Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-purple-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--3dxy">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>3DXY</p>
					</div>
					<div class="col bg-color-purple-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--3dxy-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>3DXY Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-violet-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--arrow">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Arrow</p>
					</div>
					<div class="col bg-color-violet-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--arrow-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Arrow Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-indigo-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--arrowalt">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Arrow Alt</p>
					</div>
					<div class="col bg-color-indigo-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--arrowalt-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Arrow Alt Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-blue-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--arrowturn">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Arrow Turn</p>
					</div>
					<div class="col bg-color-blue-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--arrowturn-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Arrow Turn Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-cyan-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--boring">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Boring</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-teal-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--collapse">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Collapse</p>
					</div>
					<div class="col bg-color-teal-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--collapse-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Collapse Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-green-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--elastic">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Elastic</p>
					</div>
					<div class="col bg-color-green-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--elastic-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Elastic Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-lime-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--emphatic">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Emphatic</p>
					</div>
					<div class="col bg-color-lime-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--emphatic-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Emphatic Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-yellow-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--minus">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Minus</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-orange-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--slider">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Slider</p>
					</div>
					<div class="col bg-color-orange-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--slider-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Slider Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-red-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--spin">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Spin</p>
					</div>
					<div class="col bg-color-red-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--spin-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Spin Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-pink-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--spring">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Spring</p>
					</div>
					<div class="col bg-color-pink-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--spring-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Spring Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-purple-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--stand">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Stand</p>
					</div>
					<div class="col bg-color-purple-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--stand-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Stand Reverse</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-violet-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--squeeze">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Squeeze</p>
					</div>
				</div>

				<div class="row">
					<div class="col bg-color-indigo-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--vortex">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Vortex</p>
					</div>
					<div class="col bg-color-indigo-4">
						<a href="#" data-toggle="hamburger">
							<i class="hamburger hamburger--vortex-r">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</i>
						</a>
						<p>Vortex Reverse</p>
					</div>
				</div>

			</div>

		</div>

	</div>
</template>

<style scoped>
	.ios {{html}} .row {
		margin-top: 15px;
	}

	.md {{html}} .row {
		margin-top: 16px;
	}

	.row::first-child {
		margin-top: 0;
	}

	.row .col {
		align-items: center;
		color: #FFFFFF;
		display: flex;
		flex-direction: column;
		height: 128px;
		justify-content: center;
		text-align: center;
	}

  .row .col p {
    margin-bottom: 0;
  }

	.hamburger-inner,
	.hamburger-inner::after,
	.hamburger-inner::before {
		background-color: #FFFFFF !important;
	}
</style>

<script>
	return {
		on: {
			pageInit: function() {
				var self = this;
				self.$('[data-toggle=hamburger]').on('click', function() {
					$(this).find('.hamburger').toggleClass('is-active');
				});
			}
		}
	}
</script>