<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="lazy-load">Lazy Load</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="lazy-load">Lazy Load</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Lazy Load delays the loading of images on page while they are outside viewport until the user scrolls to them.</p>
				<p>This makes the page load faster, improve scrolling performance and save bandwidth.</p>
			</div>

			<div class="block">

				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/ltjqwlhqw3q5ykk/FMkrYuWb.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/qa5pd59pznkdr40/a6c668f4.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/j3wvseqp95ikx8e/a7eeff3f.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/jet7puqst2twvl9/A06423f7.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/e42b3ydjnjzsu8i/a643366f.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/k76so4gdqf17ras/ab78F6dd.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/0e9lyiuyf8yyl2e/2e6e7cf5.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/cxxr1czum26uxw8/06b8fc80.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/5z2vk490dopn5w5/6d3c41c8.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/uyzzi79g85o96bt/8bd1abC3.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/0m1frswasmsm9h4/9e6c3986.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/aa08jrtq56ro8jj/38a9cB3c.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/a5h4c5q3lvkbn6i/40df9d2b.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/qk6ed4xoel0lp9k/78eeda21.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/zal9pb5q3pk46zn/95F3db5F.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/8tdulm4kavpn3uz/7667Beca.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/oac88ywpsl0gi99/b7d6ad91.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/0x17s79xds5yxs2/cCbeE5a6.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/mf4upso1ur2co6f/d2a91da4.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/1j7bj2e2fp1jton/d8156847.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/j0vxjestl6msul0/df7d69b5.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/hpbhwzy7pibne8t/e406ef1e.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/5p0ckfopohkp43m/eaf2d126.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/32npx02f4n5g4ma/ff74ddf0.jpg?raw=1" alt="" /></p>
				<p><img class="img-center img-responsive lazy lazy-fade-in" src="" data-src="https://www.dropbox.com/s/ell895k67v8nqhr/ffad646e.jpg?raw=1" alt="" /></p>

			</div>

		</div>

	</div>
</template>