<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="list-index">List Index</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="list-index">List Index</div>
					</div>
				</div>
			</div>
		</div>

		<div class="list-index"></div>

		<div class="page-content">

			<div class="list contacts-list">
				<div class="list-group">
					<ul>
						<li class="list-group-title">#</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/500px.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">500px</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">A</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/admob.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">AdMob</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/android-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Android</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/angular-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Angular</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/appcelerator.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Appcelerator</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/apple.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Apple</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/aws.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">AWS</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">B</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/backbone-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Backbone</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/bing.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Bing</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/bitbucket.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Bitbucket</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/bitcoin.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Bitcoin</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/bitnami.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Bitnami</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/bootstrap.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Bootstrap</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/bower.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Bower</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/box.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Box</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/brackets.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Brackets</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/browserstack.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">BrowserStack</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/buffer.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Buffer</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">C</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/chrome.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Chrome</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/clojure.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Clojure</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/cloudinary.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Cloudinary</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/cocoapods.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">CocoaPods</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/codeigniter.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">CodeIgniter</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/codepen-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">CodePen</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/codrops.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Codrops</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/coffeescript.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">CoffeeScript</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/cordova.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Cordova</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/couchbase.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Couchbase</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/crashlytics.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Crashlytics</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">D</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/dart.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Dart</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/debian.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Debian</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/delicious.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Delicious</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/discord.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Discord</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/disqus.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Disqus</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/dribbble-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Dribbble</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/dropbox.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Dropbox</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/drupal.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Drupal</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/duckduckgo.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">DuckDuckGo</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">E</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/eclipse.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Eclipse</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/ello.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Ello</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/embedly.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Embedly</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/expo.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Expo</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">F</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/facebook.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Facebook</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/famous.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Famo.us</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/fedora.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Fedora</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/firebase.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Firebase</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/firefox.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Firefox</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/flattr.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Flattr</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/flickr-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Flickr</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/font-awesome.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Font Awesome</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/framework7.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Framework7</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">G</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/git-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Git</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/github-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">GitHub</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/gitlab.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">GitLab</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/google-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Google</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/gradle.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Gradle</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/gratipay.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Gratipay</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/gravatar.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Gravatar</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">H</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/hashnode.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Hashnode</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/haskell.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Haskell</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">I</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/instagram-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Instagram</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/intellij-idea.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">IntelliJ IDEA</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/internetexplorer.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Internet Explorer</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/ionic.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Ionic</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">J</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/java.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Java</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/javascript.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">JavaScript</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/joomla.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Joomla</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/json.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">JSON</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">K</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/kickstarter.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Kickstarter</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/kraken.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Kraken</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/kubernetes.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Kubernetes</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">L</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/laravel.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Laravel</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/litmus.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Litmus</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/lua.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Lua</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">M</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/magento.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Magento</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/mailchimp-freddie.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">MailChimp</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/mailgun.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Mailgun</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/mandrill.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Mandrill</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/mapbox.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Mapbox</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/mdn.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">MDN</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/medium.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Medium</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/metabase.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Metabase</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/meteor-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Meteor</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/mocha.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Mocha</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/monero.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Monero</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">N</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/namecheap.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Namecheap</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/nativescript.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">NativeScript</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/netbeans.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">NetBeans</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/nodejs-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">NodeJS</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/nuclide.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Nuclide</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">O</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/oauth.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">OAuth</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/onesignal.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">OneSignal</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/open-graph.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Open Graph</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/opensource.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Open Source</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/opera.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Opera</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/origin.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Origin</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">P</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/parse.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Parse</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/patreon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Patreon</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/paypal.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">PayPal</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/perl.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Perl</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/phonegap.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">PhoneGap</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/picasa.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Picasa</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/pinterest.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Pinterest</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/polymer.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Polymer</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/preact.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Preact</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/presto.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Presto</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/producthunt.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Product Hunt</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/protoio.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Proto.io</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/python.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Python</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">R</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/raspberry-pi.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Raspberry Pi</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/react.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">React</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/redhat.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Red Hat</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/redis.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Redis</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/redux.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Redux</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/ruby.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Ruby</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">S</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/safari.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Safari</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/salesforce.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Salesforce</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/semantic-ui.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Semantic UI</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/sencha.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Sencha Touch</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/sendgrid.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">SendGrid</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/sentry.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Sentry</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/shopify.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Shopify</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/sketch.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Sketch</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/skype.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Skype</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/slack.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Slack</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/smashingmagazine.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Smashing Magazine</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/square.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Square</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/squarespace.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Squarespace</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/steam.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Steam</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/svg.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">SVG</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/swift.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Swift</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/symfony.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Symfony</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">T</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/trello.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Trello</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/twilio.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Twilio</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/twitch.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Twitch</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/twitter.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">Twitter</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/typescript-icon.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">TypeScript</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">W</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/webrtc.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">WebRTC</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">Y</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<img src="https://cdn.svgporn.com/logos/youtube.svg" width="24" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title">YouTube</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</template>

<script>
	return {
		methods: {
			initializeListIndex: function() {
				var self = this;
				var listIndex = app.listIndex.create({
					el: '.list-index',
					listEl: '.contacts-list',
					label: true
				});
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.initializeListIndex();
			}
		}
	}
</script>