<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="note">Note</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="note">Note</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Note allows to show important inline messages to the user.</p>
			</div>

			<div class="block-title">Success Note</div>
			<div class="note note-success">
				<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
			</div>

			<div class="block-title">Info Note</div>
			<div class="note note-info">
				<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
			</div>

			<div class="block-title">Warning Note</div>
			<div class="note note-warning">
				<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
			</div>

			<div class="block-title">Danger Note</div>
			<div class="note note-danger">
				<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
			</div>

		</div>

	</div>
</template>