<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="side-panel">Side Panel</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="side-panel">Side Panel</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p><button class="button button-big button-fill panel-open" data-panel="left">Open Left Side Panel</button></p>
				<p><button class="button button-big button-fill panel-open" data-panel="right">Open Right Side Panel</button></p>
			</div>

		</div>

	</div>
</template>