<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="sortable-list">Sortable List</div>
				<div class="right">
					<a href="#" class="link icon-only sortable-toggle" data-sortable=".sortable">
						<i class="icon f7-icons ios-only">sort</i>
						<i class="icon material-icons md-only">sort</i>
					</a>
				</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="sortable-list">Sortable List</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Sortable List allows to sort list view elements.</p>
			</div>

			<div class="list sortable">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-media">
								<i class="fa-stack">
									<span class="fas fa-circle fa-stack-2x text-color-red"></span>
									<span class="fas fa-medkit fa-stack-1x fa-inverse"></span>
								</i>
							</div>
							<div class="item-inner">
								<div class="item-title">Healthcare</div>
								<div class="item-after">$300</div>
							</div>
						</div>
						<div class="sortable-handler"></div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media">
								<i class="fa-stack">
									<span class="fas fa-circle fa-stack-2x text-color-green"></span>
									<span class="fas fa-shopping-basket fa-stack-1x fa-inverse"></span>
								</i>
							</div>
							<div class="item-inner">
								<div class="item-title">Groceries</div>
								<div class="item-after">$400</div>
							</div>
						</div>
						<div class="sortable-handler"></div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media">
								<i class="fa-stack">
									<span class="fas fa-circle fa-stack-2x text-color-blue"></span>
									<span class="fas fa-home fa-stack-1x fa-inverse"></span>
								</i>
							</div>
							<div class="item-inner">
								<div class="item-title">Mortgage</div>
								<div class="item-after">$500</div>
							</div>
						</div>
						<div class="sortable-handler"></div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media">
								<i class="fa-stack">
									<span class="fas fa-circle fa-stack-2x text-color-pink"></span>
									<span class="fas fa-car fa-stack-1x fa-inverse"></span>
								</i>
							</div>
							<div class="item-inner">
								<div class="item-title">Transportation</div>
								<div class="item-after">$100</div>
							</div>
						</div>
						<div class="sortable-handler"></div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media">
								<i class="fa-stack">
									<span class="fas fa-circle fa-stack-2x text-color-orange"></span>
									<span class="fas fa-wifi fa-stack-1x fa-inverse"></span>
								</i>
							</div>
							<div class="item-inner">
								<div class="item-title">Utilities</div>
								<div class="item-after">$200</div>
							</div>
						</div>
						<div class="sortable-handler"></div>
					</li>
				</ul>
			</div>

		</div>

	</div>
</template>