<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="stepper">Stepper</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="stepper">Stepper</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Stepper provides a way to increment or decrement a numeric value.</p>
			</div>

			<div class="block-title">Shape & Size</div>
			<div class="block block-strong text-align-center">
				<div class="row">
					<div class="col">
						<div><small>Default</small></div>
						<div class="stepper stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Round</small></div>
						<div class="stepper stepper-round stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<div><small>Fill</small></div>
						<div class="stepper stepper-fill stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Round Fill</small></div>
						<div class="stepper stepper-fill stepper-round stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<div><small>Small</small></div>
						<div class="stepper stepper-small stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Small Round</small></div>
						<div class="stepper stepper-small stepper-round stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<div><small>Small Fill</small></div>
						<div class="stepper stepper-small stepper-fill stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Small Round Fill</small></div>
						<div class="stepper stepper-small stepper-round stepper-fill stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<div><small>Big</small></div>
						<div class="stepper stepper-big stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Big Round</small></div>
						<div class="stepper stepper-big stepper-round stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<div><small>Big Fill</small></div>
						<div class="stepper stepper-big stepper-fill stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Big Round Fill</small></div>
						<div class="stepper stepper-big stepper-round stepper-fill stepper-init">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-title">Colored</div>
			<div class="block block-strong text-align-center">
				<div class="row">
					<div class="col">
						<div><small>Red</small></div>
						<div class="stepper stepper-fill stepper-init color-red">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Green</small></div>
						<div class="stepper stepper-fill stepper-round stepper-init color-green">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<div><small>Blue</small></div>
						<div class="stepper stepper-fill stepper-init color-blue">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Pink</small></div>
						<div class="stepper stepper-fill stepper-round stepper-init color-pink">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div><small>Yellow</small></div>
						<div class="stepper stepper-fill stepper-init color-yellow">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Orange</small></div>
						<div class="stepper stepper-fill stepper-round stepper-init color-orange">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
						<div><small>Gray</small></div>
						<div class="stepper stepper-fill stepper-init color-gray">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Black</small></div>
						<div class="stepper stepper-fill stepper-round stepper-init color-black">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-title">Custom Min, Max & Step</div>
			<div class="block block-strong text-align-center">
				<div class="stepper stepper-fill stepper-init">
					<div class="stepper-button-minus"></div>
					<div class="stepper-input-wrap">
						<input type="number" value="15" min="5" max="100" step="5" readonly />
					</div>
					<div class="stepper-button-plus"></div>
				</div>
			</div>

			<div class="block-title">Autorepeat</div>
			<div class="block block-strong text-align-center">
				<div class="row">
					<div class="col">
						<div><small>Default</small></div>
						<div class="stepper stepper-fill stepper-init" data-autorepeat="true">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
					<div class="col">
						<div><small>Dynamic</small></div>
						<div class="stepper stepper-fill stepper-init" data-autorepeat="true" data-autorepeat-dynamic="true">
							<div class="stepper-button-minus"></div>
							<div class="stepper-input-wrap">
								<input type="number" value="0" min="0" max="100" step="1" readonly />
							</div>
							<div class="stepper-button-plus"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-title">Wraps</div>
			<div class="block block-strong text-align-center">
				<div class="stepper stepper-fill stepper-init" data-wraps="true" data-autorepeat="true" data-autorepeat-dynamic="true">
					<div class="stepper-button-minus"></div>
					<div class="stepper-input-wrap">
						<input type="number" value="0" min="0" max="10" step="1" readonly />
					</div>
					<div class="stepper-button-plus"></div>
				</div>
			</div>

			<div class="block-title">Manual Input</div>
			<div class="block block-strong text-align-center">
				<div class="stepper stepper-fill stepper-init" data-wraps="true" data-autorepeat="true" data-autorepeat-dynamic="true" data-manual-input-mode="true" data-decimal-point="2">
					<div class="stepper-button-minus"></div>
					<div class="stepper-input-wrap">
						<input type="number" value="0" min="0" max="1" step=".01" @change="setDecimals" />
					</div>
					<div class="stepper-button-plus"></div>
				</div>
			</div>

			<div class="block-title">Custom Value Element</div>
			<div class="list">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">
									<span>My Age is </span>
									<span id="age"></span>
									<span> Years</span>
								</div>
								<div class="item-after">
									<div class="stepper stepper-init stepper-small" data-value-el="#age" data-min="13" data-max="100" data-value="18">
										<div class="stepper-button-minus"></div>
										<div class="stepper-button-plus"></div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>

	</div>
</template>

<script>
	return {
		methods: {
			setDecimals: function(event) {
				event.target.value = parseFloat(event.target.value).toFixed(2);
			}
		}
	}
</script>