<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="tabs">Tabs</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="tabs">Tabs</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Tabs allow to switch between different content.</p>
			</div>

			<div class="list">
				<ul>
					<li>
						<a href="/components/tabs/static" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="static-tabs">Static Tabs</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/tabs/animated" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="animated-tabs">Animated Tabs</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/tabs/swipeable" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="swipeable-tabs">Swipeable Tabs</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/tabs/tabbar" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="tabbar">Tab Bar</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>

		</div>

	</div>
</template>