<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="timeline">Timeline</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="vertical-timeline">Vertical Timeline</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="vertical-timeline">Vertical Timeline</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block-title">Same Side</div>
			<div class="block block-strong">
				<div class="timeline timeline-vertical">
					<div class="timeline-item">
						<div class="timeline-item-date">21 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">This is plain text item.</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">22 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">This is plain text item with inner.</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">23 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<img class="img-responsive" src="https://source.unsplash.com/H3opfN5Fo9c" alt="" />
							<p>This is timeline item with image and text.</p>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">24 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-time">9:15 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">25 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">
								<div class="timeline-item-time">10:15 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">26 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-time">12:05 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
							<div class="timeline-item-time">3:45 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">27 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">
								<div class="timeline-item-time">7:25 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
							<div class="timeline-item-inner">
								<div class="timeline-item-time">8:50 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">28 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="card">
								<div class="card-header">This is Card Header</div>
								<div class="card-content card-content-padding">
									<p>This is card content.</p>
								</div>
								<div class="card-footer">This is Card Footer.</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-title">Alternate Sides</div>
			<div class="block block-strong">
				<div class="timeline timeline-vertical timeline-sides">
					<div class="timeline-item">
						<div class="timeline-item-date">21 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">This is plain text item.</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">22 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">This is plain text item with inner.</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">23 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<img class="img-responsive" src="https://source.unsplash.com/H3opfN5Fo9c" alt="" />
							<p>This is timeline item with image and text.</p>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">24 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-time">9:15 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">25 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">
								<div class="timeline-item-time">10:15 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">26 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-time">12:05 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
							<div class="timeline-item-time">3:45 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">27 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">
								<div class="timeline-item-time">7:25 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
							<div class="timeline-item-inner">
								<div class="timeline-item-time">8:50 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
						</div>
					</div>
					<div class="timeline-item">
						<div class="timeline-item-date">28 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="card">
								<div class="card-header">This is Card Header</div>
								<div class="card-content card-content-padding">
									<p>This is card content.</p>
								</div>
								<div class="card-footer">This is Card Footer.</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-title">Forced Sides</div>
			<div class="block block-strong">
				<div class="timeline timeline-vertical timeline-sides">
					<div class="timeline-item timeline-item-left">
						<div class="timeline-item-date">21 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">This is plain text item.</div>
					</div>
					<div class="timeline-item timeline-item-left">
						<div class="timeline-item-date">22 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">This is plain text item with inner.</div>
						</div>
					</div>
					<div class="timeline-item timeline-item-right">
						<div class="timeline-item-date">23 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<img class="img-responsive" src="https://source.unsplash.com/H3opfN5Fo9c" alt="" />
							<p>This is timeline item with image and text.</p>
						</div>
					</div>
					<div class="timeline-item timeline-item-left">
						<div class="timeline-item-date">24 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-time">9:15 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
						</div>
					</div>
					<div class="timeline-item timeline-item-right">
						<div class="timeline-item-date">25 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">
								<div class="timeline-item-time">10:15 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
						</div>
					</div>
					<div class="timeline-item timeline-item-right">
						<div class="timeline-item-date">26 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-time">12:05 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
							<div class="timeline-item-time">3:45 AM</div>
							<div class="timeline-item-title">Item Title</div>
							<div class="timeline-item-subtitle">Item Subtitle</div>
							<div class="timeline-item-text">Item Text</div>
						</div>
					</div>
					<div class="timeline-item timeline-item-left">
						<div class="timeline-item-date">27 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="timeline-item-inner">
								<div class="timeline-item-time">7:25 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
							<div class="timeline-item-inner">
								<div class="timeline-item-time">8:50 AM</div>
								<div class="timeline-item-title">Item Title</div>
								<div class="timeline-item-subtitle">Item Subtitle</div>
								<div class="timeline-item-text">Item Text</div>
							</div>
						</div>
					</div>
					<div class="timeline-item timeline-item-left">
						<div class="timeline-item-date">28 <small>DEC</small></div>
						<div class="timeline-item-divider"></div>
						<div class="timeline-item-content">
							<div class="card">
								<div class="card-header">This is Card Header</div>
								<div class="card-content card-content-padding">
									<p>This is card content.</p>
								</div>
								<div class="card-footer">This is Card Footer.</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</template>