<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="timeline">Timeline</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="timeline">Timeline</div>
					</div>
				</div>

			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Timeline is used to display list of events in chronological order.</p>
			</div>

			<div class="list">
				<ul>
					<li>
						<a href="/components/timeline/vertical" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="vertical-timeline">Vertical Timeline</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/timeline/horizontal" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="horizontal-timeline">Horizontal Timeline</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/timeline/calendar" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="calendar-timeline">Calendar Timeline</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>

		</div>

	</div>
</template>