<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="toolbar">Toolbar</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="toolbar">Toolbar</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Toolbar acts as a container for navigation menu and tabs.</p>
			</div>

			<div class="list">
				<ul>
					<li>
						<a href="/components/toolbar/static" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="static-toolbar">Static Toolbar</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/toolbar/fixed" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="fixed-toolbar">Fixed Toolbar</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/components/toolbar/hide-on-scroll" class="item-link">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title" data-i18n="toolbar-hide-on-scroll">Toolbar - Hide on Scroll</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>

		</div>

	</div>
</template>