<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="components">Components</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="tooltip">Tooltip</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="tooltip">Tooltip</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>Tooltip displays informative text when the user hovers over or long tap an element.</p>
				<p>Tooltip can be positioned around any element with any HTML content inside.</p>
			</div>

			<div class="list">
				<div class="list-group">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Default</div>
									<div class="item-after">
										<i class="icon material-icons tooltip-init" data-tooltip="Neque porro quisquam est qui">info_outline</i>
									</div>
							</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">Colored</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Red</div>
									<div class="item-after">
										<i class="icon material-icons" data-toggle="tooltip-red">info_outline</i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Green</div>
									<div class="item-after">
										<i class="icon material-icons" data-toggle="tooltip-green">info_outline</i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Blue</div>
									<div class="item-after">
										<i class="icon material-icons" data-toggle="tooltip-blue">info_outline</i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Pink</div>
									<div class="item-after">
										<i class="icon material-icons" data-toggle="tooltip-pink">info_outline</i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Yellow</div>
									<div class="item-after">
										<i class="icon material-icons" data-toggle="tooltip-yellow">info_outline</i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Orange</div>
									<div class="item-after">
										<i class="icon material-icons" data-toggle="tooltip-orange">info_outline</i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Gray</div>
									<div class="item-after">
										<i class="icon material-icons" data-toggle="tooltip-gray">info_outline</i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Black</div>
									<div class="item-after">
										<i class="icon material-icons" data-toggle="tooltip-black">info_outline</i>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</template>

<script>
	return {
		methods: {
			initializeColoredTooltips: function() {
				var self = this;
				var tooltip = app.tooltip.create({
					targetEl: '[data-toggle=tooltip-red]',
					text: 'Neque porro quisquam est qui',
					cssClass: 'bg-color-red'
				});
				var tooltip = app.tooltip.create({
					targetEl: '[data-toggle=tooltip-green]',
					text: 'Neque porro quisquam est qui',
					cssClass: 'bg-color-green'
				});
				var tooltip = app.tooltip.create({
					targetEl: '[data-toggle=tooltip-blue]',
					text: 'Neque porro quisquam est qui',
					cssClass: 'bg-color-blue'
				});
				var tooltip = app.tooltip.create({
					targetEl: '[data-toggle=tooltip-pink]',
					text: 'Neque porro quisquam est qui',
					cssClass: 'bg-color-pink'
				});
				var tooltip = app.tooltip.create({
					targetEl: '[data-toggle=tooltip-yellow]',
					text: 'Neque porro quisquam est qui',
					cssClass: 'bg-color-yellow text-color-black'
				});
				var tooltip = app.tooltip.create({
					targetEl: '[data-toggle=tooltip-orange]',
					text: 'Neque porro quisquam est qui',
					cssClass: 'bg-color-orange'
				});
				var tooltip = app.tooltip.create({
					targetEl: '[data-toggle=tooltip-gray]',
					text: 'Neque porro quisquam est qui',
					cssClass: 'bg-color-gray'
				});
				var tooltip = app.tooltip.create({
					targetEl: '[data-toggle=tooltip-black]',
					text: 'Neque porro quisquam est qui',
					cssClass: 'bg-color-black text-color-yellow'
				});
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.initializeColoredTooltips();
			}
		}
	}
</script>