<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				{{#js_if "app.data.config.theme.navigation == 'hamburger'"}}
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="home">Home</span>
					</a>
				</div>
				{{/js_if}}
				<div class="title md-only" data-i18n="more">More</div>
				<div class="right">
					<a href="#" class="link icon-only searchbar-enable" data-searchbar=".searchbar">
						<i class="icon f7-icons ios-only">search</i>
						<i class="icon material-icons md-only">search</i>
					</a>
				</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="more">More</div>
					</div>
				</div>
				<form class="searchbar searchbar-expandable searchbar-init" data-search-container=".search-list" data-search-item="li" data-search-in=".item-title">
					<div class="searchbar-inner">
						<div class="searchbar-input-wrap">
							<input type="search" placeholder="Search" data-i18n="[placeholder]search" />
							<i class="searchbar-icon"></i>
							<span class="input-clear-button"></span>
						</div>
						<span class="searchbar-disable-button" data-i18n="cancel">Cancel</span>
					</div>
				</form>
			</div>
		</div>

		<div class="page-content">

			<div class="searchbar-not-found">
				<div class="empty-state">
					<div class="empty-state-media">
						<img src="assets/custom/img/no-search.svg" alt="" />
					</div>
					<div class="empty-state-title" data-i18n="no-search-results">No Search Results</div>
					<div class="empty-state-actions">
						<button type="button" class="button button-big button-fill button-round" data-i18n="try-again" @click="refreshSearchbar">Try Again</button>
					</div>
				</div>
			</div>

			<div class="searchbar-found">
				<div class="list search-list">
					<ul>
						<li>
							<a href="/themes" class="item-link">
								<div class="item-content">
									<div class="item-media">
										<i class="fa-stack">
											<span class="fas fa-square fa-stack-2x color-pink-5 ios-only"></span>
											<span class="fas fa-circle fa-stack-2x color-pink-5 md-only"></span>
											<span class="fas fa-palette fa-stack-1x fa-inverse"></span>
										</i>
									</div>
									<div class="item-inner">
										<div class="item-title" data-i18n="themes">Themes</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/web-apis" class="item-link">
								<div class="item-content">
									<div class="item-media">
										<i class="fa-stack">
											<span class="fas fa-square fa-stack-2x color-yellow-5 ios-only"></span>
											<span class="fas fa-circle fa-stack-2x color-yellow-5 md-only"></span>
											<span class="fas fa-code fa-stack-1x fa-inverse"></span>
										</i>
									</div>
									<div class="item-inner">
										<div class="item-title" data-i18n="web-apis">Web APIs</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/cordova-plugins" class="item-link">
								<div class="item-content">
									<div class="item-media">
										<i class="fa-stack">
											<span class="fas fa-square fa-stack-2x color-violet-5 ios-only"></span>
											<span class="fas fa-circle fa-stack-2x color-violet-5 md-only"></span>
											<span class="fas fa-mobile-alt fa-stack-1x fa-inverse"></span>
										</i>
									</div>
									<div class="item-inner">
										<div class="item-title" data-i18n="cordova-plugins">Cordova Plugins</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/integrations" class="item-link">
								<div class="item-content">
									<div class="item-media">
										<i class="fa-stack">
											<span class="fas fa-square fa-stack-2x color-red-5 ios-only"></span>
											<span class="fas fa-circle fa-stack-2x color-red-5 md-only"></span>
											<span class="fas fa-fire fa-stack-1x fa-inverse"></span>
										</i>
									</div>
									<div class="item-inner">
										<div class="item-title" data-i18n="integrations">Integrations</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/utilities" class="item-link">
								<div class="item-content">
									<div class="item-media">
										<i class="fa-stack">
											<span class="fas fa-square fa-stack-2x color-orange-5 ios-only"></span>
											<span class="fas fa-circle fa-stack-2x color-orange-5 md-only"></span>
											<span class="fas fa-pencil-ruler fa-stack-1x fa-inverse"></span>
										</i>
									</div>
									<div class="item-inner">
										<div class="item-title" data-i18n="utilities">Utilities</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</template>

<script>
	return {
		methods: {
			refreshSearchbar: function() {
				var self = this;
				app.searchbar.clear('.searchbar');
			}
		}
	}
</script>