<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="back">Back</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="activity-feed">Activity Feed</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="activity-feed">Activity Feed</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class = "list cards-list no-margin">
				<ul>

					<li class="card social-card">
						<div class="card-header">
							<div class="user-avatar">
								<img class="img-circle" src="https://randomuser.me/api/portraits/men/88.jpg" width="36" alt="" />
							</div>
							<div class="user-name">Alan Cooper updated his profile picture.</div>
							<div class="post-datetime">Yesterday at 3:00 AM</div>
						</div>
						<div class="card-content card-content-padding">
							<div class="post-media">
								<img class="img-responsive" src="https://www.dropbox.com/s/jet7puqst2twvl9/A06423f7.jpg?raw=1" alt="" />
							</div>
							<div class="post-stats">
								<div>123 Likes</div>
								<div>15 Comments</div>
							</div>
						</div>
						<div class="card-footer">
							<a href="#" class="link">
								<i class="far fa-thumbs-up"></i>
								<span>Like</span>
							</a>
							<a href="#" class="link">
								<i class="far fa-comment"></i>
								<span>Comment</span>
							</a>
							<a href="#" class="link">
								<i class="fas fa-share-alt"></i>
								<span>Share</span>
							</a>
						</div>
					</li>

					<li class="card social-card">
						<div class="card-header">
							<div class="user-avatar">
								<img class="img-circle" src="https://randomuser.me/api/portraits/women/68.jpg" width="36" alt="" />
							</div>
							<div class="user-name">Kate Upton checked in to McDonald's.</div>
							<div class="post-datetime">March 15 at 5:30 PM</div>
						</div>
						<div class="card-content card-content-padding">
							<div class="post-media">
								<div class="embed">
									<iframe class="embed-content" frameborder="0" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key={{$root.config.googleMaps.apiKey}}&q=29.748736,-95.370895"></iframe>
								</div>
							</div>
							<div class="post-stats">
								<div>15 Likes</div>
								<div>3 Comments</div>
							</div>
						</div>
						<div class="card-footer">
							<a href="#" class="link">
								<i class="far fa-thumbs-up"></i>
								<span>Like</span>
							</a>
							<a href="#" class="link">
								<i class="far fa-comment"></i>
								<span>Comment</span>
							</a>
							<a href="#" class="link">
								<i class="fas fa-share-alt"></i>
								<span>Share</span>
							</a>
						</div>
					</li>

					<li class="card social-card">
						<div class="card-header">
							<div class="user-avatar">
								<img class="img-circle" src="https://randomuser.me/api/portraits/women/44.jpg" width="36" alt="" />
							</div>
							<div class="user-name">Jane Zhu uploaded a photo.</div>
							<div class="post-datetime">10:10 AM</div>
						</div>
						<div class="card-content card-content-padding">
							<p class="post-caption">Et harum quidem rerum facilis est et expedita distinctio.</p>
							<div class="post-media">
								<img class="img-responsive" src="https://source.unsplash.com/JlymtjqG2aU" alt="" />
							</div>
							<div class="post-stats">
								<div>22 Likes</div>
								<div>12 Comments</div>
								<div>1 Share</div>
							</div>
						</div>
						<div class="card-footer">
							<a href="#" class="link">
								<i class="far fa-thumbs-up"></i>
								<span>Like</span>
							</a>
							<a href="#" class="link">
								<i class="far fa-comment"></i>
								<span>Comment</span>
							</a>
							<a href="#" class="link">
								<i class="fas fa-share-alt"></i>
								<span>Share</span>
							</a>
						</div>
					</li>

					<li class="card social-card">
						<div class="card-header">
							<div class="user-avatar">
								<img class="img-circle" src="https://randomuser.me/api/portraits/women/79.jpg" width="36" alt="" />
							</div>
							<div class="user-name">Line Rolland uploaded a GIF.</div>
							<div class="post-datetime">8:10 AM</div>
						</div>
						<div class="card-content card-content-padding">
							<div class="post-media">
								<div class="embed embed-21-9">
									<iframe class="embed-content" src="https://giphy.com/embed/NTY1kHmcLsCsg"></iframe>
								</div>
							</div>
							<div class="post-stats">
								<div>245 Likes</div>
								<div>35 Comments</div>
								<div>3 Shares</div>
							</div>
						</div>
						<div class="card-footer">
							<a href="#" class="link">
								<i class="far fa-thumbs-up"></i>
								<span>Like</span>
							</a>
							<a href="#" class="link">
								<i class="far fa-comment"></i>
								<span>Comment</span>
							</a>
							<a href="#" class="link">
								<i class="fas fa-share-alt"></i>
								<span>Share</span>
							</a>
						</div>
					</li>

					<li class="card social-card">
						<div class="card-header">
							<div class="user-avatar">
								<img class="img-circle" src="https://randomuser.me/api/portraits/men/51.jpg" width="36" alt="" />
							</div>
							<div class="user-name">Noah Pierre is travelling from Amsterdam to Venice.</div>
						</div>
						<div class="card-content card-content-padding">
							<div class="post-media">
								<div class="embed">
									<iframe class="embed-content" frameborder="0" allowfullscreen src="https://www.google.com/maps/embed/v1/directions?key={{$root.config.googleMaps.apiKey}}&origin=place_id:ChIJVXealLU_xkcRja_At0z9AGY&destination=place_id:ChIJiT3W8dqxfkcRLxCSvfDGo3s"></iframe>
								</div>
							</div>
							<div class="post-stats">
								<div>75 Likes</div>
								<div>9 Comments</div>
							</div>
						</div>
						<div class="card-footer">
							<a href="#" class="link">
								<i class="far fa-thumbs-up"></i>
								<span>Like</span>
							</a>
							<a href="#" class="link">
								<i class="far fa-comment"></i>
								<span>Comment</span>
							</a>
							<a href="#" class="link">
								<i class="fas fa-share-alt"></i>
								<span>Share</span>
							</a>
						</div>
					</li>

					<li class="card social-card">
						<div class="card-header">
							<div class="user-avatar">
								<img class="img-circle" src="https://randomuser.me/api/portraits/women/60.jpg" width="36" alt="" />
							</div>
							<div class="user-name">Laurie Barnaby uploaded an album — Tomorrowland.</div>
						</div>
						<div class="card-content card-content-padding">
							<div class="post-media">
								<div class="swiper-container swiper-init" data-centered-slides="true" data-loop="true" data-slides-per-view="2" data-space-between="16">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="slide-media">
											<img class="img-responsive" src="https://www.tomorrowland.com/src/Frontend/Themes/tomorrowland/Core/Layout/images/timeline/2018-1.jpg" alt="" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="slide-media">
											<img class="img-responsive" src="https://www.tomorrowland.com/src/Frontend/Themes/tomorrowland/Core/Layout/images/timeline/2017-1.jpg" alt="" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="slide-media">
											<img class="img-responsive" src="https://www.tomorrowland.com/src/Frontend/Themes/tomorrowland/Core/Layout/images/timeline/2016-2.jpg" alt="" />
										</div>
									</div>
								</div>
							</div>
							</div>
							<div class="post-stats">
								<div>1.5K Likes</div>
								<div>250 Comments</div>
								<div>35 Shares</div>
							</div>
						</div>
						<div class="card-footer">
							<a href="#" class="link">
								<i class="far fa-thumbs-up"></i>
								<span>Like</span>
							</a>
							<a href="#" class="link">
								<i class="far fa-comment"></i>
								<span>Comment</span>
							</a>
							<a href="#" class="link">
								<i class="fas fa-share-alt"></i>
								<span>Share</span>
							</a>
						</div>
					</li>

				</ul>
			</div>

		</div>

	</div>
</template>