<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="back">Back</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="articles-single">Articles - Single</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="articles-single">Articles - Single</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content hide-navbar-on-scroll">

			<div class="article-header" style="background-image: url('https://source.unsplash.com/p2yQQP-c72k');">
				<div class="article-title">1000 Places To See Before You Die</div>
				<div class="article-categories">
					<div class="badge color-green">Life</div>
					<div class="badge color-orange">Travel</div>
				</div>
			</div>

			<div class="article-content">
				<p class="dropcap">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
				<img class="img-responsive img-center" src="https://source.unsplash.com/Dqx4XWuXu7w" alt="" />
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
				<div class="embed">
					<iframe class="embed-content" src="https://www.youtube.com/embed/1ZYbU82GVz4"></iframe>
				</div>
				<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
			</div>

			<div class="article-comments">
				<div class="card no-margin">
					<div class="card-header">Comments</div>
					<div class="card-content card-content-padding">
						<div class="list media-list no-hairlines no-hairlines-between">
							<ul>
								<li>
									<div class="item-content">
										<div class="item-media">
											<img class="img-circle" src="https://randomuser.me/api/portraits/women/79.jpg" width="48" alt="" />
										</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">Line Rolland</div>
											</div>
											<div class="item-subtitle">Excepteur sint occaecat cupidatat non proident.</div>
											<div class="item-text">7 days ago</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-media">
											<img class="img-circle" src="https://randomuser.me/api/portraits/women/17.jpg" width="48" alt="" />
										</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">Lilja Peltola</div>
											</div>
											<div class="item-subtitle">Cillum dolore eu fugiat nulla pariatur.</div>
											<div class="item-text">2 months ago</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-media">
											<img class="img-circle" src="https://randomuser.me/api/portraits/women/44.jpg" width="48" alt="" />
										</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">Jane Zhu</div>
											</div>
											<div class="item-subtitle">Sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
											<div class="item-text">1 year ago</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-footer justify-content-center">
						<a href="#" class="link popup-open" data-popup=".popup-review">Write a Comment</a>
					</div>
				</div>
			</div>

		</div>

		<div class="fab fab-right-bottom color-yellow">
			<a href="#">
				<i class="icon material-icons color-black">add</i>
				<i class="icon material-icons color-black">close</i>
			</a>
			<div class="fab-buttons fab-buttons-top">
				<a href="#" class="fab-label-button bg-color-green">
					<i class="icon material-icons">share</i>
					<span class="fab-label">Share</span>
				</a>
				<a href="#" class="fab-label-button bg-color-blue">
					<i class="icon material-icons">mode_comment</i>
					<span class="fab-label">Comment</span>
				</a>
				<a href="#" class="fab-label-button bg-color-pink">
					<i class="icon material-icons">favorite</i>
					<span class="fab-label">Like</span>
				</a>
			</div>
		</div>

		<div class="popup popup-tablet-fullscreen popup-review">
			<div class="view">
				<div class="page">

					<div class="navbar">
						<div class="navbar-inner">
							<div class="left ios-only">
								<a href="#" class="link popup-close" data-popup=".popup-review">
									<span data-i18n="cancel">Cancel</span>
								</a>
							</div>
							<div class="title">Write a Comment</div>
							<div class="right ios-only">
								<button type="submit" class="button link" form="review" data-i18n="submit">Submit</button>
							</div>
							<div class="right md-only">
								<a href="#" class="link icon-only popup-close" data-popup=".popup-review">
									<i class="icon material-icons">close</i>
								</a>
							</div>
						</div>
					</div>

					<div class="page-content">

						<form id="review" name="review" action="#" method="POST" enctype="multipart/form-data">
							<div class="list no-hairlines no-hairlines-between">
								<ul>
									<li>
										<div class="item-content item-input item-input-with-info">
											<div class="item-media">
												<i class="icon f7-icons ios-only">person</i>
												<i class="icon material-icons md-only">person</i>
											</div>
											<div class="item-inner">
												<div class="item-title item-floating-label">Name</div>
												<div class="item-input-wrap">
													<input type="text" name="name" required />
													<div class="item-input-info input-error-message"></div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-input item-input-with-info">
											<div class="item-media">
												<i class="icon f7-icons ios-only">email</i>
												<i class="icon material-icons md-only">email</i>
											</div>
											<div class="item-inner">
												<div class="item-title item-floating-label">Email</div>
												<div class="item-input-wrap">
													<input type="email" name="email" required />
													<div class="item-input-info input-error-message"></div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-input item-input-with-info">
											<div class="item-media">
												<i class="icon f7-icons ios-only">message</i>
												<i class="icon material-icons md-only">message</i>
											</div>
											<div class="item-inner">
												<div class="item-title item-floating-label">Comment</div>
												<div class="item-input-wrap">
													<textarea name="comment" class="resizable" required></textarea>
													<div class="item-input-info input-error-message"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="block md-only">
								<button type="submit" class="button button-big button-fill" data-i18n="submit">Submit</button>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>

	</div>
</template>

<style scoped>
	.article-header {
		align-items: flex-start;
		background-color: #292929;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		box-sizing: border-box;
		color: #FFFFFF;
		display: flex;
		flex-direction: column;
		height: 45vh;
		justify-content: flex-end;
		padding: 16px;
	}

	.article-header .article-title {
		font-size: 18px;
	}

	.article-header .article-categories .badge {
		font-size: 14px;
		margin-top: 8px;
		margin-right: 4px;
	}

	.article-content {
		box-sizing: border-box;
		padding: 16px;
	}

	.article-comments {
		box-sizing: border-box;
		padding: 0 16px 32px 16px;
	}

	.article-comments .list .item-title {
		font-size: 14px;
	}

	.article-comments .list .item-subtitle {
		font-size: 13px;
	}

	.article-comments .list .item-text {
		font-size: 12px;
	}
</style>

<script>
	return {
		data: function() {
			return {
				formValidator: null
			}
		},
		methods: {
			initializeFormValidator: function() {
				var self = this;
				self.formValidator = jQuery('form[name=review]').validate({
					ignore: [],
					rules: {
						name: {
							required: true
						},
						email: {
							required: true,
							email: true
						},
						comment: {
							required: true
						}
					},
    			messages: {
						name: {
							required: 'Please enter name.'
      			},
						email: {
							required: 'Please enter email address.',
							email: 'Please enter a valid email address.'
						},
						comment: {
							required: 'Please enter comment.'
						}
					},
					submitHandler: function(form) {
						self.submitForm(form);
					}
				});
			},
			submitForm: function(form) {
				var self = this;
				app.toast.show({
					text: 'Thank you for the comment.',
					position: 'bottom',
					cssClass: 'toast-round bg-color-green'
				});
				document.querySelector('form[name=review]').reset();
				app.popup.close('.popup-review', false);
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.initializeFormValidator();
			}
		}
	}
</script>