<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="back">Back</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="cart">Cart</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="cart">Cart</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="card">
				<div class="card-content card-content-padding">
					<div class="list media-list no-hairlines no-hairlines-between">
						<ul>
							<li class="swipeout">
								<div class="swipeout-content">
									<div class="item-content">
										<div class="item-media">
											<img src="https://www.dropbox.com/s/5t6xrzwx72zppnb/iphone-7-plus-black.png?raw=1" width="48" alt="" />
										</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">Apple iPhone 7 Plus</div>
												<div class="item-after">₹70000</div>
											</div>
											<div class="item-subtitle">Color: Black | Storage: 128 GB</div>
											<div class="item-text">
												<div class="chip">
													<div class="chip-label">1</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="swipeout-actions swipeout-actions-left">
									<a href="/screens/products-single" class="swipeout-action swipeout-close color-blue">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-info-circle"></i>
										</div>
										<div class="swipeout-action-label">Info</div>
									</a>
								</div>
								<div class="swipeout-actions swipeout-actions-right">
									<a href="#" class="swipeout-action swipeout-close color-orange">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-pencil-alt"></i>
										</div>
										<div class="swipeout-action-label">Change Quantity</div>
									</a>
									<a href="#" class="swipeout-action swipeout-close color-red">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-trash"></i>
										</div>
										<div class="swipeout-action-label">Remove</div>
									</a>
								</div>
							</li>
							<li class="swipeout">
								<div class="swipeout-content">
									<div class="item-content">
										<div class="item-media">
											<img src="https://www.dropbox.com/s/hqt8pembrzbrakf/apple-watch-series-1.png?raw=1" width="48" alt="" />
										</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">Apple Watch Series 1</div>
												<div class="item-after">₹30000</div>
											</div>
											<div class="item-subtitle">Color: Black</div>
											<div class="item-text">
												<div class="chip">
													<div class="chip-label">1</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="swipeout-actions swipeout-actions-left">
									<a href="/screens/products-single" class="swipeout-action swipeout-close color-blue">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-info-circle"></i>
										</div>
										<div class="swipeout-action-label">Info</div>
									</a>
								</div>
								<div class="swipeout-actions swipeout-actions-right">
									<a href="#" class="swipeout-action swipeout-close color-orange">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-pencil-alt"></i>
										</div>
										<div class="swipeout-action-label">Change Quantity</div>
									</a>
									<a href="#" class="swipeout-action swipeout-close color-red">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-trash"></i>
										</div>
										<div class="swipeout-action-label">Remove</div>
									</a>
								</div>
							</li>
							<li class="swipeout">
								<div class="swipeout-content">
									<div class="item-content">
										<div class="item-media">
											<img src="https://www.dropbox.com/s/d79j8pzl1nmlcsl/beats-solo-2-wireless-headphones.png?raw=1" width="48" alt="" />
										</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">Beats Solo 2 Wireless Headphones</div>
												<div class="item-after">₹20000</div>
											</div>
											<div class="item-subtitle">Color: Blue</div>
											<div class="item-text">
												<div class="chip">
													<div class="chip-label">1</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="swipeout-actions swipeout-actions-left">
									<a href="/screens/products-single" class="swipeout-action swipeout-close color-blue">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-info-circle"></i>
										</div>
										<div class="swipeout-action-label">Info</div>
									</a>
								</div>
								<div class="swipeout-actions swipeout-actions-right">
									<a href="#" class="swipeout-action swipeout-close color-orange">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-pencil-alt"></i>
										</div>
										<div class="swipeout-action-label">Change Quantity</div>
									</a>
									<a href="#" class="swipeout-action swipeout-close color-red">
										<div class="swipeout-action-icon">
											<i class="icon fas fa-trash"></i>
										</div>
										<div class="swipeout-action-label">Remove</div>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-content card-content-padding">
					<div class="list no-hairlines no-hairlines-between">
						<ul>
							<li>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title">Subtotal</div>
										<div class="item-after">₹120000</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title">Discount @ 10%</div>
										<div class="item-after">₹12000</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title">Shipping Charges</div>
										<div class="item-after">Free</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title"><b>Grand Total</b></div>
										<div class="item-after"><b>₹108000</b></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-content card-content-padding">
					<a href="/screens/checkout" class="button button-big button-fill color-green">Checkout</a>
				</div>
			</div>

		</div>

	</div>
</template>