<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="back">Back</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="forgot-password">Forgot Password?</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="forgot-password">Forgot Password?</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block text-align-center">
				<p>Please enter your registered email address below. We will send a token to reset your password.</p>
			</div>

			<form name="forgot-password" action="#" method="POST" enctype="multipart/form-data">
				<div class="list no-hairlines no-hairlines-between no-margin-bottom">
					<ul>
						<li>
							<div class="item-content item-input item-input-with-info">
								<div class="item-media">
									<i class="icon f7-icons ios-only">email</i>
									<i class="icon material-icons md-only">mail</i>
								</div>
								<div class="item-inner">
									<div class="item-input-wrap">
										<input type="email" name="email" placeholder="Email" required />
										<div class="item-input-info input-error-message"></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="block">
					<button type="submit" class="button button-big button-fill" data-i18n="send">Send</button>
				</div>
			</form>

		</div>

		<div class="popup popup-tablet-fullscreen popup-validate-token">
			<div class="view">
				<div class="page">

					<div class="navbar">
						<div class="navbar-inner">
							<div class="left ios-only">
								<a href="#" class="link popup-close" data-popup=".popup-validate-token">
									<span data-i18n="cancel">Cancel</span>
								</a>
							</div>
							<div class="title" data-i18n="reset-password">Reset Password</div>
							<div class="right ios-only">
								<button type="submit" class="button link" form="validate-token" data-i18n="submit">Submit</button>
							</div>
							<div class="right md-only">
								<a href="#" class="link icon-only popup-close" data-popup=".popup-validate-token">
									<i class="icon material-icons">close</i>
								</a>
							</div>
						</div>
					</div>

					<div class="page-content">

						<div class="block text-align-center">
							<p>To reset your password, please enter the token we have sent on your registered email address.</p>
						</div>

						<form id="validate-token" name="validate-token" action="#" method="POST" enctype="multipart/form-data">
							<div class="list no-hairlines no-hairlines-between no-margin-bottom">
								<ul>
									<li>
										<div class="item-content item-input item-input-with-info">
											<div class="item-inner">
												<div class="item-input-wrap">
													<input type="text" name="token" placeholder="Token" required />
													<div class="item-input-info input-error-message"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="block md-only">
								<button type="submit" class="button button-big button-fill" data-i18n="submit">Submit</button>
							</div>
						</form>
						<div class="block text-align-center">
							<p>Didn't receive the token? <a href="#">Resend</a></p>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="popup popup-tablet-fullscreen popup-reset-password">
			<div class="view">
				<div class="page">

					<div class="navbar">
						<div class="navbar-inner">
							<div class="left ios-only">
								<a href="#" class="link popup-close" data-popup=".popup-reset-password">
									<span data-i18n="cancel">Cancel</span>
								</a>
							</div>
							<div class="title" data-i18n="reset-password">Reset Password</div>
							<div class="right ios-only">
								<button type="submit" class="button link" form="reset-password" data-i18n="save">Save</button>
							</div>
							<div class="right md-only">
								<a href="#" class="link icon-only popup-close" data-popup=".popup-reset-password">
									<i class="icon material-icons">close</i>
								</a>
							</div>
						</div>
					</div>

					<div class="page-content">

						<form id="reset-password" name="reset-password" action="#" method="POST" enctype="multipart/form-data">
							<div class="list no-hairlines no-hairlines-between no-margin-bottom">
								<ul>
									<li>
										<div class="item-content item-input item-input-with-info">
											<div class="item-media">
												<i class="icon f7-icons ios-only">lock</i>
												<i class="icon material-icons md-only">lock</i>
											</div>
											<div class="item-inner">
												<div class="item-input-wrap">
													<input type="password" name="new_password" placeholder="New Password" required />
													<div class="item-input-info input-error-message"></div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content item-input item-input-with-info">
											<div class="item-media">
												<i class="icon f7-icons ios-only">lock</i>
												<i class="icon material-icons md-only">lock</i>
											</div>
											<div class="item-inner">
												<div class="item-input-wrap">
													<input type="password" name="confirm_password" placeholder="Confirm Password" required />
													<div class="item-input-info input-error-message"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="block md-only">
								<button type="submit" class="button button-big button-fill" data-i18n="save">Save</button>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>

	</div>
</template>

<style scoped>

</style>

<script>
	return {
		data: function() {
			return {
				formValidatorForgotPassword: null,
				formValidatorValidateToken: null,
				formValidatorResetPassword: null
			}
		},
		methods: {
			initializeFormValidatorForgotPassword: function() {
				var self = this;
				self.formValidatorForgotPassword = jQuery('form[name=forgot-password]').validate({
					ignore: [],
					rules: {
						email: {
							required: true,
        			email:true
      			}
					},
    			messages: {
						email: {
							required: 'Please enter email address.',
        			email: 'Please enter a valid email address.'
      			}
					},
					submitHandler: function(form) {
						document.querySelector('form[name=forgot-password]').reset();
						var popup = app.popup.create({
							el: '.popup-validate-token',
							on: {
								opened: function() {
									self.initializeFormValidatorValidateToken();
								},
								closed: function() {
									self.formValidatorValidateToken.destroy();
									document.querySelector('form[name=validate-token]').reset();
								}
							}
						});
						popup.open();
					}
				});
			},
			initializeFormValidatorValidateToken: function() {
				var self = this;
				self.formValidatorValidateToken = jQuery('form[name=validate-token]').validate({
					ignore: [],
					rules: {
						token: {
							required: true
      			}
					},
    			messages: {
						token: {
							required: 'Please enter token.'
      			}
					},
					submitHandler: function(form) {
						var popup = app.popup.create({
							el: '.popup-reset-password',
							on: {
								opened: function() {
									self.initializeFormValidatorResetPassword();
								},
								closed: function() {
									self.formValidatorResetPassword.destroy();
									document.querySelector('form[name=reset-password]').reset();
								}
							}
						});
						popup.open();
						app.popup.close('.popup-validate-token', false);
					}
				});
			},
			initializeFormValidatorResetPassword: function() {
				var self = this;
				self.formValidatorResetPassword = jQuery('form[name=reset-password]').validate({
					ignore: [],
					rules: {
						new_password: {
							required: true,
							minlength: 8
						},
						confirm_password: {
							required: true,
							equalTo: 'form[name=reset-password] input[name=new_password]'
						}
					},
    			messages: {
						new_password: {
							required: 'Please enter new password.',
							minlength: 'New password must be at least 8 characters long.'
						},
						confirm_password: {
							required: 'Password confirmation is required.',
							equalTo: 'Both the passwords must match.'
						}
					},
					submitHandler: function(form) {
						app.toast.show({
							text: 'Your password has been reset successfully.',
							position: 'bottom',
							cssClass: 'toast-round bg-color-green'
						});
						app.popup.close('.popup-reset-password', false);
						app.views.current.router.navigate('/home');
					}
				});
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.initializeFormValidatorForgotPassword();
			}
		}
	}
</script>