<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="back">Back</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="notifications">Notifications</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="notifications">Notifications</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content ptr-content" data-ptr-distance="55">

			<div class="ptr-preloader">
				<div class="preloader"></div>
				<div class="ptr-arrow"></div>
			</div>

			<div class="list media-list no-chevron no-hairlines no-hairlines-between no-margin">
				<div class="list-group">
					<ul>
						<li class="list-group-title">Today</li>
						<li class="swipeout unread">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/men/60.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Topias Kantola wants to be your friend.</div>
									</div>
									<div class="item-text">5 mins ago</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope-open"></i>
									</div>
									<div class="swipeout-action-label">Mark as Read</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-green">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-check"></i>
									</div>
									<div class="swipeout-action-label">Accept</div>
								</a>
								<a href="#" class="swipeout-action swipeout-close color-red">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-times"></i>
									</div>
									<div class="swipeout-action-label">Reject</div>
								</a>
								<a href="#" class="swipeout-action swipeout-close color-orange">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-user"></i>
									</div>
									<div class="swipeout-action-label">View Profile</div>
								</a>
							</div>
						</li>
						<li class="swipeout read">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/women/79.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Today is Line Rolland's birthday.</div>
									</div>
									<div class="item-text">3 hours ago</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope"></i>
									</div>
									<div class="swipeout-action-label">Mark as Unread</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-pink">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-birthday-cake"></i>
									</div>
									<div class="swipeout-action-label">Wish</div>
								</a>
							</div>
						</li>
						<li class="swipeout unread">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/men/35.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Noah Pierre posted an article.</div>
									</div>
									<div class="item-subtitle">The Origin of Species</div>
									<div class="item-text">5 hours ago</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope-open"></i>
									</div>
									<div class="swipeout-action-label">Mark as Read</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-green">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-book-open"></i>
									</div>
									<div class="swipeout-action-label">Read</div>
								</a>
								<a href="#" class="swipeout-action swipeout-close color-orange">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-bookmark"></i>
									</div>
									<div class="swipeout-action-label">Bookmark</div>
								</a>
							</div>
						</li>
						<li class="swipeout read">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/men/91.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Wyatt Morris uploaded a video.</div>
									</div>
									<div class="item-subtitle">The Big Bang Theory</div>
									<div class="item-text">8 hours ago</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope"></i>
									</div>
									<div class="swipeout-action-label">Mark as Unread</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-green">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-eye"></i>
									</div>
									<div class="swipeout-action-label">Watch</div>
								</a>
								<a href="#" class="swipeout-action swipeout-close color-orange">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-download"></i>
									</div>
									<div class="swipeout-action-label">Download</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">Yesterday</li>
						<li class="swipeout unread">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/women/48.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Laurie Barnaby shared a link.</div>
									</div>
									<div class="item-text">8:45 PM</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope-open"></i>
									</div>
									<div class="swipeout-action-label">Mark as Read</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-green">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-external-link-alt"></i>
									</div>
									<div class="swipeout-action-label">Visit</div>
								</a>
								<a href="#" class="swipeout-action swipeout-close color-orange">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-bookmark"></i>
									</div>
									<div class="swipeout-action-label">Bookmark</div>
								</a>
							</div>
						</li>
						<li class="swipeout read">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/women/44.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Jane Zhu uploaded an audio.</div>
									</div>
									<div class="item-text">5:05 PM</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope"></i>
									</div>
									<div class="swipeout-action-label">Mark as Unread</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-green">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-headphones"></i>
									</div>
									<div class="swipeout-action-label">Listen</div>
								</a>
								<a href="#" class="swipeout-action swipeout-close color-orange">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-download"></i>
									</div>
									<div class="swipeout-action-label">Download</div>
								</a>
							</div>
						</li>
						<li class="swipeout unread">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/men/97.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Veeti Seppanen requested a payment of $500.</div>
									</div>
									<div class="item-text">2:00 PM</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope-open"></i>
									</div>
									<div class="swipeout-action-label">Mark as Read</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-green">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-credit-card"></i>
									</div>
									<div class="swipeout-action-label">Pay</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">Monday, December 31, 2018</li>
						<li class="swipeout read">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/women/17.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Lilja Peltola invited you to an event.</div>
									</div>
									<div class="item-subtitle">Sunburn Music Festival</div>
									<div class="item-text">5:00 PM</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope"></i>
									</div>
									<div class="swipeout-action-label">Mark as Unread</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-green">
									<div class="swipeout-action-label">Going</div>
								</a>
								<a href="#" class="swipeout-action swipeout-close color-orange">
									<div class="swipeout-action-label">Maybe</div>
								</a>
								<a href="#" class="swipeout-action swipeout-close color-red">
									<div class="swipeout-action-label">Not Going</div>
								</a>
							</div>
						</li>
						<li class="swipeout unread">
							<a href="#" class="item-link item-content swipeout-content">
								<div class="item-media">
									<img class="img-circle" src="https://randomuser.me/api/portraits/women/13.jpg" width="48" alt="" />
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Lidia Marin poked you.</div>
									</div>
									<div class="item-text">10:15 AM</div>
								</div>
							</a>
							<div class="swipeout-actions swipeout-actions-left">
								<a href="#" class="swipeout-action swipeout-close color-blue">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-envelope-open"></i>
									</div>
									<div class="swipeout-action-label">Mark as Read</div>
								</a>
							</div>
							<div class="swipeout-actions swipeout-actions-right">
								<a href="#" class="swipeout-action swipeout-close color-pink">
									<div class="swipeout-action-icon">
										<i class="icon fas fa-hand-point-left"></i>
									</div>
									<div class="swipeout-action-label">Poke Back</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</template>

<style scoped>
	.list .item-title {
		font-size: 14px;
	}

	.list .item-subtitle {
		font-size: 13px;
		font-style: italic;
	}

	.list .item-text {
		font-size: 12px;
	}

	.list .swipeout.unread {
		background: #F8F9FA;
	}

	.theme-dark {{this}} .list .swipeout.unread {
		background: #292929;
	}
</style>

<script>
	return {
		methods: {
			refreshContent: function() {
				var self = this;
				setTimeout(function() {
					app.toast.show({
						text: 'No new notifications',
						position: 'bottom',
						cssClass: 'toast-round bg-color-yellow text-color-black'
					});
					app.ptr.done();
				}, 3000);
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.$('.ptr-content').on('ptr:refresh', self.refreshContent);
			}
		}
	}
</script>