<template>
	<div class="page no-navbar no-toolbar no-swipeback">

		<div class="page-content">

			<div class="empty-state">
				<div class="empty-state-media">
					<img src="assets/custom/img/lego-bricks.svg" alt="" />
				</div>
				<div class="empty-state-title" data-i18n="under-maintenance">Under Maintenance</div>
				<div class="empty-state-text">We are busy updating the site for you and will be back shortly. Thank you for your patience.</div>
			</div>

		</div>

	</div>
</template>

<style scoped>
	.empty-state .empty-state-media img {
		height: 192px;
	}
</style>