<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="back">Back</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="user-profile">User Profile</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="user-profile">User Profile</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="profile-header">
				<img class="user-avatar" src="https://randomuser.me/api/portraits/men/60.jpg" alt="" />
				<div class="user-name">Topias Kantola</div>
				<div class="user-actions row">
					<button class="col button button-big button-fill bg-color-red-5">Follow</button>
					<button class="col button button-big button-fill bg-color-teal-5">Message</button>
				</div>
			</div>

			<div class="toolbar tabbar tabbar-scrollable tabbar-sticky">
				<div class="toolbar-inner">
					<a href="#tab-overview" class="tab-link tab-link-active">Overview</a>
					<a href="#tab-skills" class="tab-link">Skills</a>
					<a href="#tab-experience" class="tab-link">Experience</a>
					<a href="#tab-portfolio" class="tab-link">Portfolio</a>
				</div>
			</div>

			<div class="tabs">

				<div id="tab-overview" class="tab tab-active">
					<div class="card">
						<div class="card-content card-content-padding">
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
						</div>
					</div>
					<div class="card">
						<div class="card-content card-content-padding">
							<div class="list no-hairlines no-hairlines-between">
								<ul>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-blue ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-blue md-only"></span>
													<span class="fas fa-user fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title">Topias Kantola</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-pink ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-pink md-only"></span>
													<span class="fas fa-birthday-cake fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title">December 22, 1991</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-green ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-green md-only"></span>
													<span class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title">Hyderabad, India</div>
											</div>
										</div>
									</li>
									<li>
										<a href="tel:+91-9876543210" target="_blank" class="item-link external">
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack">
														<span class="fas fa-square fa-stack-2x text-color-orange ios-only"></span>
														<span class="fas fa-circle fa-stack-2x text-color-orange md-only"></span>
														<span class="fas fa-phone fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title">+91-9876543210</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="mailto:topias.kantola@example.com" target="_blank" class="item-link external">
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack">
														<span class="fas fa-square fa-stack-2x text-color-red ios-only"></span>
														<span class="fas fa-circle fa-stack-2x text-color-red md-only"></span>
														<span class="fas fa-envelope fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title">topias.kantola@example.com</div>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-content card-content-padding">
							<div class="list no-hairlines no-hairlines-between">
								<ul>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-blue ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-blue md-only"></span>
													<span class="fas fa-briefcase fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title">Founder, The Code Brewery</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-green ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-green md-only"></span>
													<span class="fas fa-graduation-cap fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title">Masters in Computer Applications</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-media">
												<i class="fa-stack">
													<span class="fas fa-square fa-stack-2x text-color-orange ios-only"></span>
													<span class="fas fa-circle fa-stack-2x text-color-orange md-only"></span>
													<span class="fas fa-globe fa-stack-1x fa-inverse"></span>
												</i>
											</div>
											<div class="item-inner">
												<div class="item-title">English & Hindi</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-content card-content-padding">
							<div class="list no-hairlines no-hairlines-between">
								<ul>
									<li>
										<a href="https://behance.com" target="_blank" class="item-link external">
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack">
														<span class="fas fa-square fa-stack-2x brand-color-behance ios-only"></span>
														<span class="fas fa-circle fa-stack-2x brand-color-behance md-only"></span>
														<span class="fab fa-behance fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title">Behance</div>
													<div class="item-after">kantola_topias</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="https://dribbble.com" target="_blank" class="item-link external">
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack">
														<span class="fas fa-square fa-stack-2x brand-color-dribbble ios-only"></span>
														<span class="fas fa-circle fa-stack-2x brand-color-dribbble md-only"></span>
														<span class="fab fa-dribbble fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title">Dribbble</div>
													<div class="item-after">topias_kantola</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="https://instagram.com" target="_blank" class="item-link external">
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack">
														<span class="fas fa-square fa-stack-2x brand-color-instagram ios-only"></span>
														<span class="fas fa-circle fa-stack-2x brand-color-instagram md-only"></span>
														<span class="fab fa-instagram fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title">Instagram</div>
													<div class="item-after">kantola.topias</div>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="https://medium.com" target="_blank" class="item-link external">
											<div class="item-content">
												<div class="item-media">
													<i class="fa-stack">
														<span class="fas fa-square fa-stack-2x brand-color-medium ios-only"></span>
														<span class="fas fa-circle fa-stack-2x brand-color-medium md-only"></span>
														<span class="fab fa-medium-m fa-stack-1x fa-inverse"></span>
													</i>
												</div>
												<div class="item-inner">
													<div class="item-title">Medium</div>
													<div class="item-after">topias.kantola</div>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div id="tab-skills" class="tab">
					<div class="card">
						<div class="card-content card-content-padding">
							<div class="list simple-list no-hairlines no-hairlines-between">
								<ul>
									<li>
										<div class="item-cell width-auto flex-shrink-0">
											<i class="fa-stack tooltip-init" data-tooltip="HTML">
												<span class="fas fa-square fa-stack-2x color-orange-7 ios-only"></span>
												<span class="fas fa-circle fa-stack-2x color-orange-7 md-only"></span>
												<span class="fab fa-html5 fa-stack-1x fa-inverse"></span>
											</i>
										</div>
										<div class="item-cell flex-shrink-3">
											<span class="progressbar color-green" data-progress="95"></span>
										</div>
										<div class="item-cell width-auto flex-shrink-0">95%</div>
									</li>
									<li>
										<div class="item-cell width-auto flex-shrink-0">
											<i class="fa-stack tooltip-init" data-tooltip="CSS">
												<span class="fas fa-square fa-stack-2x color-blue-7 ios-only"></span>
												<span class="fas fa-circle fa-stack-2x color-blue-7 md-only"></span>
												<span class="fab fa-css3 fa-stack-1x fa-inverse"></span>
											</i>
										</div>
										<div class="item-cell flex-shrink-3">
											<span class="progressbar color-green" data-progress="85"></span>
										</div>
										<div class="item-cell width-auto flex-shrink-0">85%</div>
									</li>
									<li>
										<div class="item-cell width-auto flex-shrink-0">
											<i class="fa-stack tooltip-init" data-tooltip="JavaScript">
												<span class="fas fa-square fa-stack-2x color-yellow-7 ios-only"></span>
												<span class="fas fa-circle fa-stack-2x color-yellow-7 md-only"></span>
												<span class="fab fa-js fa-stack-1x fa-inverse"></span>
											</i>
										</div>
										<div class="item-cell flex-shrink-3">
											<span class="progressbar color-orange" data-progress="80"></span>
										</div>
										<div class="item-cell width-auto flex-shrink-0">80%</div>
									</li>
									<li>
										<div class="item-cell width-auto flex-shrink-0">
											<i class="fa-stack tooltip-init" data-tooltip="NodeJS">
												<span class="fas fa-square fa-stack-2x color-green-7 ios-only"></span>
												<span class="fas fa-circle fa-stack-2x color-green-7 md-only"></span>
												<span class="fab fa-node-js fa-stack-1x fa-inverse"></span>
											</i>
										</div>
										<div class="item-cell flex-shrink-3">
											<span class="progressbar color-orange" data-progress="75"></span>
										</div>
										<div class="item-cell width-auto flex-shrink-0">75%</div>
									</li>
									<li>
										<div class="item-cell width-auto flex-shrink-0">
											<i class="fa-stack tooltip-init" data-tooltip="PHP">
												<span class="fas fa-square fa-stack-2x color-violet-5 ios-only"></span>
												<span class="fas fa-circle fa-stack-2x color-violet-5 md-only"></span>
												<span class="fab fa-php fa-stack-1x fa-inverse"></span>
											</i>
										</div>
										<div class="item-cell flex-shrink-3">
											<span class="progressbar color-green" data-progress="90"></span>
										</div>
										<div class="item-cell width-auto flex-shrink-0">90%</div>
									</li>
									<li>
										<div class="item-cell width-auto flex-shrink-0">
											<i class="fa-stack tooltip-init" data-tooltip="React Native">
												<span class="fas fa-square fa-stack-2x color-cyan-4 ios-only"></span>
												<span class="fas fa-circle fa-stack-2x color-cyan-4 md-only"></span>
												<span class="fab fa-react fa-stack-1x fa-inverse"></span>
											</i>
										</div>
										<div class="item-cell flex-shrink-3">
											<span class="progressbar color-orange" data-progress="70"></span>
										</div>
										<div class="item-cell width-auto flex-shrink-0">70%</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div id="tab-experience" class="tab">
					<div class="list media-list no-hairlines no-hairlines-between no-margin">
						<ul>
							<li>
								<div class="item-content">
									<div class="item-media">
										<img src="https://logo.clearbit.com/amazon.com" width="48" alt="" />
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">AWS Specialist</div>
										</div>
										<div class="item-subtitle">Amazon</div>
										<div class="item-text">May 2018 - Present</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media">
										<img src="https://logo.clearbit.com/stripe.com" width="48" alt="" />
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Product Lead</div>
										</div>
										<div class="item-subtitle">Stripe</div>
										<div class="item-text">November 2017 - April 2018</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media">
										<img src="https://logo.clearbit.com/airbnb.co.in" width="48" alt="" />
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Creative Lead</div>
										</div>
										<div class="item-subtitle">Airbnb</div>
										<div class="item-text">March 2016 - October 2017</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media">
										<img src="https://logo.clearbit.com/snapchat.com" width="48" alt="" />
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Product Designer</div>
										</div>
										<div class="item-subtitle">Snapchat</div>
										<div class="item-text">January 2014 - February 2016</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-media">
										<img src="https://logo.clearbit.com/dribbble.com" width="48" alt="" />
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">UI/UX Specialist</div>
										</div>
										<div class="item-subtitle">Dribbble</div>
										<div class="item-text">March 2012 - December 2013</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div id="tab-portfolio" class="tab">
					<div class="row image-gallery">
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/3Tajt_h1Zgw/800x450" alt="" />
								<figcaption>Lorem Ipsum</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/MANyoqKE-8c/800x450" alt="" />
								<figcaption>Dolores</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/2qSqXJLLM_Y/800x450" alt="" />
								<figcaption>Eu Fugiat</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/6kO_gWSgenc/800x450" alt="" />
								<figcaption>Culpa Qui</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/n83ma0Wd4eY/800x450" alt="" />
								<figcaption>Unde Omnis</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/UMfNjiiw_6M/800x450" alt="" />
								<figcaption>Beatae Vitae</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/5E5N49RWtbA/800x450" alt="" />
								<figcaption>Adipisci Velit</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/mQScFwpI0SI/800x450" alt="" />
								<figcaption>Quis Autem</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/OJTNpLmsSHs/800x450" alt="" />
								<figcaption>Et Harum</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/1_CMoFsPfso/800x450" alt="" />
								<figcaption>Vero Eos Et</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/gh1IgGFnhSk/800x450" alt="" />
								<figcaption>Quo Voluptas</figcaption>
							</figure>
						</div>
						<div class="col-50 tablet-33 desktop-25">
							<figure>
								<img class="img-responsive" src="https://source.unsplash.com/O0j9EivTKfI/800x450" alt="" />
								<figcaption>Nulla Pariatur</figcaption>
							</figure>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</template>

<style scoped>
	.profile-header {
		align-items: stretch;
		background-image: linear-gradient(-20deg, var(--oc-color-gray-7) 0%, var(--oc-color-gray-9) 100%);
		box-sizing: border-box;
		color: #FFFFFF;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 32px 16px;
		text-align: center;
		width: 100%;
	}

	.profile-header .user-avatar {
		border: 4px solid #FFFFFF;
		border-radius: 50%;
		height: 96px;
		margin: 0 auto;
		width: 96px;
	}

	.profile-header .user-name {
		font-size: 28px;
		letter-spacing: 0.5px;
		margin-top: 16px;
	}

	.profile-header .user-actions {
		margin-top: 16px;
	}

	.image-gallery {
		margin: 8px;
		justify-content: center;
	}

	.image-gallery figure {
		background: #F5F5F5;
		margin: 8px;
		padding: 8px;
	}

	.theme-dark {{this}} .image-gallery figure {
		background: #292929;
	}

	.image-gallery figcaption {
		margin-top: 6px;
		text-align: center;
	}
</style>

<script>
	return {
		methods: {
			initializeImageGallery: function() {
				var self = this;
				self.$('.image-gallery figure').on('click', function() {
					var currentSlide = self.$(this).parent().index();
					var photos = [];
					self.$('.image-gallery figure img').each(function() {
						photos.push({
							url: self.$(this).attr('src'),
							caption: self.$(this).next('figcaption').text()
						});
					});
					var photoBrowser = app.photoBrowser.create({
						photos: photos,
						swiper: {
							initialSlide: currentSlide
						},
						theme: app.utils.theme.getLayout()
					});
					photoBrowser.open();
				});
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.initializeImageGallery();
			}
		}
	}
</script>