<template>
	<div class="page">

		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back"></i>
						<span class="ios-only" data-i18n="cordova-plugins">Cordova Plugins</span>
					</a>
				</div>
				<div class="title md-only" data-i18n="build-info">Build Info</div>
				<div class="subnavbar ios-only">
					<div class="subnavbar-inner">
						<div class="title" data-i18n="build-info">Build Info</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content">

			<div class="block">
				<p>This plugin provides information about the app package.</p>
			</div>

			{{#if buildInfo}}
			<div class="list">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Package Name</div>
								<div class="item-after">{{buildInfo.packageName}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Base Package Name</div>
								<div class="item-after">{{buildInfo.basePackageName}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Display Name</div>
								<div class="item-after">{{buildInfo.displayName}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Name</div>
								<div class="item-after">{{buildInfo.name}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Version</div>
								<div class="item-after">{{buildInfo.version}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Version Code</div>
								<div class="item-after">{{buildInfo.versionCode}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Debug</div>
								<div class="item-after">{{buildInfo.debug}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Build Type</div>
								<div class="item-after">{{buildInfo.buildType}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">Flavour</div>
								<div class="item-after">{{buildInfo.flavour}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">
									<div class="item-header">Build Date</div>
									<div class="item-footer">{{buildInfo.buildDate}}</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title">
									<div class="item-header">Install Date</div>
									<div class="item-footer">{{buildInfo.installDate}}</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			{{else}}
			<div class="block text-align-center">
				<span class="preloader color-multi"></span>
			</div>
			{{/if}}

		</div>

	</div>
</template>

<script>
	return {
		data: function() {
			return {
				buildInfo: null
			}
		},
		methods: {
			getBuildInfo: function() {
				var self = this;
				self.$setState({
					buildInfo: BuildInfo
				});
			}
		},
		on: {
			pageInit: function() {
				var self = this;
				self.getBuildInfo();
			}
		}
	}
</script>